.Html--overflowHidden {
  &,
  body {
    height: 100%;
    overflow: hidden;
  }
}

.Page {
  max-width: $text-width-md;

  @include xl {
    max-width: $text-width-lg;
  }
}


.Content {
  min-height: 30rem;
  overflow-x: hidden;
  position: relative;
  width: 100%;

  @include md {
    min-height: 50rem;
  }

  @include xl {
    min-height: 60rem;
  }
}

// --- Keyboard

.Keyboard-wrapper {
  left: 50%;
  max-width: 100rem;
  position: absolute;
  top: 5rem;
  transform: rotate(-7deg);
  width: 50rem;
  z-index: -1;

  @include md {
    width: 65rem;
  }

  @include lg {
    max-width: 90rem;
    width: 80%;
  }
}

.Keyboard {
  height: 0;
  padding-bottom: 39.5%;
  position: relative;
  width: 100%;
}

.Keyboard-svg {
  display: block;
  height: 100%;
  left: 0;
  overflow: visible !important;
  position: absolute;
  top: 0;
  width: 100%;
}

// --- Keyboard keys

$key-color: #fbfbfb;
$key-color-pressed: #f1f1f3;

.Key {
  fill: $key-color;
  stroke-width: 2;
  stroke: transparent;
}

.Key--active {
  fill: $key-color-pressed;
  stroke: darken($key-color-pressed, 5);
}
