html {
  font-size: 10px;

  @include xxl {
    font-size: 12px;
  }

  @include xxxl {
    font-size: 14px;
  }
}

::selection {
  // background: lighten($red, 20);
}



body {
  color: $text-color;
  font-family: $body-font-family;
  font-size: $font-size;
  font-weight: $body-font-weight;
  line-height: 1.45em;

  @include md {
    font-size: $font-size-md;
  }
}

small {
  font-size: $font-size * 0.8;

  @include md {
    font-size: $font-size-md * 0.8;
  }
}

.Footnote {
  display: block;
  font-size: $font-size * 0.8;
  line-height: $font-size * 0.9;

  @include md {
    font-size: $font-size-md * 0.8;
    line-height: $font-size-md * 0.9;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headers-font-family;
  font-weight: $headers-font-weight;
  margin: 1.5em 0 0.8em;
  line-height: 1.2em;
  color: $grey1;
}

b,
strong {
  font-weight: 400;
}

h1 {
  font-size: 3rem;

  @include md {
    font-size: 4rem;
  }
}

p {
  margin: 1.5rem 0;
}

a {
  color: $red;
  text-decoration: none;
  transition: color $time;
}

.Post.Container a,
.Post-text a,
.RelatedPosts-post a,
.Comment-message a {
  border-bottom: 1px solid transparent;
  position: relative;
  transition: border $time;

  .no-touchevents  &:hover {
    border-bottom-color: $greyD;
  }
}

pre,
code {
  font-family: "Menlo", "Consolas", monospace;
}

pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

code {
  font-size: 0.9em;
  letter-spacing: -0.03rem;
}

code.highlighter-rouge {
  background: rgba(50, 100, 120, 0.03);
  border-radius: 0.2rem;
  color: #458;
  font-style: normal;
  font-weight: normal;
  line-height: 0.9em;
  margin: 0;
  padding: 0.1rem 0.6rem;
}

pre,
div.highlighter-rouge pre,
figure.highlight pre {
  background: $grey;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  line-height: 1.35em;
  margin: 0;
  padding: 1.8rem 2rem;
  position: relative;

  code {
    font-size: 1.6rem;
  }

  pre {
    margin: 0;
    padding: 0;
    position: relative;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid $greyE;
  height: 0;
  margin: 3.5rem 0;

  @include md {
    margin: 4.5rem 0;
  }
}

iframe {
  width: 100%;
  margin: 1.5rem 0;
  background: #f7f7f7
}

.AspectRatioVideo {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    border: 0;
    width: 100%;
    height: 100%;
    left: 0;
    margin-top: 0;
  }
}

blockquote {
  margin: 1.5rem 0;

  p {
    margin: 0;
  }
}
