@import '../base/_variables.scss';
@import '../base/_breakpoints.scss';
@import '../base/_mixins.scss';

// ----- Mixins ----- //

@mixin dri-track {
  background-color: var(--dri-track-color);
  background-repeat: no-repeat;
  box-sizing: border-box;
  height: var(--dri-track-height);
}

@mixin dri-track-min() {
  border-start-start-radius: var(--dri-track-border-radius);
  border-end-start-radius: var(--dri-track-border-radius);

  background-image: linear-gradient(
    to right,
    var(--dri-track-color) var(--dri-gradient-position),
    var(--dri-track-filled-color) var(--dri-gradient-position)
  );

  [dir='rtl'] & {
    background-image: linear-gradient(
      to left,
      var(--dri-track-color) var(--dri-gradient-position),
      var(--dri-track-filled-color) var(--dri-gradient-position)
    );
  }
}

@mixin dri-track-max() {
  border-start-end-radius: var(--dri-track-border-radius);
  border-end-end-radius: var(--dri-track-border-radius);

  background-image: linear-gradient(
    to right,
    var(--dri-track-filled-color) var(--dri-gradient-position),
    var(--dri-track-color) var(--dri-gradient-position)
  );

  [dir='rtl'] & {
    background-image: linear-gradient(
      to left,
      var(--dri-track-filled-color) var(--dri-gradient-position),
      var(--dri-track-color) var(--dri-gradient-position)
    );
  }
}

@mixin dri-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--dri-thumb-color);
  border-radius: var(--dri-thumb-border-radius);
  border: 1px solid var(--dri-thumb-border-color);
  box-shadow: none;
  box-sizing: border-box;
  height: var(--dri-thumb-height);
  width: var(--dri-thumb-width);
}

.dual-range-input {
  --dri-thumb-width: 20px;
  --dri-thumb-height: 20px;

  --dri-thumb-color: #ddd;
  --dri-thumb-hover-color: rgb(168, 213, 255);
  --dri-thumb-active-color: rgb(78, 170, 255);
  --dri-thumb-border-color: rgba(0, 0, 0, 0.1);
  --dri-thumb-border-radius: 20px;

  --dri-track-height: 4px;
  --dri-track-color: #ccc;
  --dri-track-filled-color: rgb(0, 132, 255);
  --dri-track-border-radius: 20px;

  --dri-height: 24px;

  display: flex;
  height: var(--dri-height);
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  // Hack to make enough space for inputs that have flex-shrink: 0
  padding-inline-end: calc(var(--dri-thumb-width) * 2);

  &:has(input:focus-visible) {
    outline: 2px solid var(--dri-thumb-active-color);
    outline-offset: 4px;
    border-radius: 2px;
  }

  input {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border-radius: none;
    flex-basis: calc(50% + var(--dri-thumb-width));
    flex-shrink: 0;
    font-size: inherit;
    height: 100%;
    margin: 0;
    min-width: var(--dri-thumb-width);
    outline: none;
  }

  // Setting initial values for the gradient variables
  // Without them Safari doesn't render the gradient on the first render for some reason
  input:first-child {
    --dri-gradient-position: 100%;
  }

  input:last-child {
    --dri-gradient-position: 0%;
  }

  // Selectors for Firefox and Webkit can't be combined

  // ----- Firefox ----- //
  input::-moz-range-track {
    @include dri-track;
  }

  input:first-child::-moz-range-track {
    @include dri-track-min;
  }

  input:last-child::-moz-range-track {
    @include dri-track-max;
  }

  input::-moz-range-thumb {
    @include dri-thumb;
    // In Firefox, thumb jumps above the track if the input is the same width as the thumb.
    // This fixes it, but I would like to find the root cause.
    max-width: 99.99%;
  }

  // Hide thumb until JavaScript updates it
  input:not([data-ready='true'])::-moz-range-thumb {
    opacity: 0;
  }

  input:hover::-moz-range-thumb {
    background-color: var(--dri-thumb-hover-color);
  }

  input:active::-moz-range-thumb {
    background-color: var(--dri-thumb-active-color);
  }

  input:focus-visible::-moz-range-thumb {
    background-color: var(--dri-thumb-active-color);
  }

  // ----- Webkit ----- //

  input::-webkit-slider-runnable-track {
    @include dri-track;
  }

  input:first-child::-webkit-slider-runnable-track {
    @include dri-track-min;
  }

  input:last-child::-webkit-slider-runnable-track {
    @include dri-track-max;
  }

  input::-webkit-slider-thumb {
    @include dri-thumb;
    // Center thumb vertically, Webkit only
    margin-top: calc(var(--dri-track-height) / 2);
    transform: translateY(-50%);
  }

  input:hover::-webkit-slider-thumb {
    background-color: var(--dri-thumb-hover-color);
  }

  // Hide thumb until JavaScript updates it
  input:not([data-ready='true'])::-webkit-slider-thumb {
    opacity: 0;
  }

  input:active::-webkit-slider-thumb {
    background-color: var(--dri-thumb-active-color);
  }

  input:focus-visible::-webkit-slider-thumb {
    background-color: var(--dri-thumb-active-color);
  }
}

// ----- DEMO ----- //

.toggle-debug {
  @include text-link;
}

.demo {
  margin: 20px 0;
}

.article .values {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: 'Menlo', 'DejaVu Sans', 'Courier New', monospace;
  width: 100%;
  font-size: 0.875rem;
}

.show-when-debug {
  display: none;
}

.debug {
  .hide-when-debug {
    display: none;
  }

  .show-when-debug {
    display: inline;
  }

  .dual-range-input input {
    outline-offset: -1px;
  }

  input:first-child {
    outline: 1px solid rgba(255, 165, 0, 0.5);
    --dri-track-filled-color: rgb(254, 195, 85);
    --dri-thumb-color: orange;
    --dri-thumb-hover-color: rgb(236, 154, 0);
    --dri-thumb-active-color: rgb(207, 134, 0);
  }

  input:last-child {
    outline: 1px solid var(--dri-thumb-hover-color);
  }
}

.demo--blank {
  .inputs {
    display: flex;
    --dri-thumb-width: 16px;
  }

  .inputs:has(input:focus-visible) {
    outline: 1px solid #ddd;
    outline-offset: 2px;
  }

  input {
    flex-basis: 50%;
    min-width: 16px;
    margin: 0;
    padding: 8px 0;
  }

  input:first-child {
    accent-color: rgb(0, 142, 128);
    outline: 1px solid rgba(0, 142, 128, 0.25);
  }

  input:last-child {
    accent-color: rgb(221, 0, 140);
    outline: 1px solid rgba(221, 0, 140, 0.25);
  }
}

.demo--purple .dual-range-input {
  --dri-thumb-width: 32px;
  --dri-thumb-height: 32px;

  --dri-thumb-color: #ddd;
  --dri-thumb-active-color: rgb(104, 42, 248);
  --dri-thumb-hover-color: rgb(182, 151, 255);
  --dri-thumb-border-color: rgba(0, 0, 0, 0.1);

  --dri-track-filled-color: rgb(104, 42, 248);

  --dri-height: 32px;
}

.demo--thick-no-gradient .dual-range-input,
.demo--thick .dual-range-input {
  --dri-height: 32px;

  --dri-track-height: 32px;
  --dri-track-color: #f1f3f1;
  --dri-track-filled-color: #6ee7b7;

  --dri-thumb-color: #34d399;
  --dri-thumb-hover-color: #10b981;
  --dri-thumb-active-color: #059669;
  --dri-thumb-border-color: rgba(0, 0, 0, 0.1);
  --dri-thumb-height: 32px;
  --dri-thumb-width: 32px;
}

.demo--thick-no-gradient .dual-range-input {
  --dri-track-color: #f1f3f1;
  --dri-track-filled-color: #f1f3f1;
}

.demo--thick .dual-range-input {
  input::-moz-range-thumb {
    opacity: 0.3;
  }

  input::-webkit-slider-thumb {
    opacity: 0.3;
  }
}

.demo--thumb .dual-range-input {
  width: 300px;
  margin: 100px 20px;

  --dri-thumb-width: 24px;
  --dri-thumb-height: 24px;

  --dri-thumb-color: #ddd;
  --dri-thumb-hover-color: var(--theme-color);
  --dri-thumb-active-color: rgb(78, 170, 255);
  --dri-thumb-border-color: rgba(0, 0, 0, 0.1);
  --dri-thumb-border-radius: 16px;

  --dri-track-height: 4px;
  --dri-track-color: #ccc;
  --dri-track-filled-color: var(--theme-color);
  --dri-track-border-radius: 16px;

  --dri-height: 24px;
}
