@import '../base/_breakpoints.scss';
@import '../base/_mixins.scss';

@keyframes smooth {
  33%,
  66% {
    transform: translateX(100px);
  }
}

@keyframes quick {
  0%,
  32.9%,
  66.1%,
  100% {
    transform: translateX(0);
  }
  33%,
  66% {
    transform: translateX(100px);
  }
}

@keyframes both {
  0.00%,
  33.33%,
  43.33%,
  66.67%,
  76.67%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.34%,
  43.32% {
    transform: translateX(70px);
    filter: hue-rotate(110deg) drop-shadow(3em -1em 0 rgb(0 0 255 / 0.2));
  }

  66.68%,
  76.66% {
    transform: translateX(-60px);
    filter: hue-rotate(-55deg) drop-shadow(-1em -2em 0 rgb(255 0 0 / 0.2));
  }
}

.glitch {
  width: 59em;
  height: 62em;
  font-size: 2px;
  position: relative;
  margin: 20px 0;

  @include md {
    font-size: 3px;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.show-strips {
  margin: 20px 0;
}

.show-strips .strip {
  transition: all 500ms;
  outline: 1px solid transparent;
}

.show-strips--debug .strip {
  margin-bottom: 6px;
  outline: 1px solid var(--border-color);
}

.glitch--show-strips {
  height: auto;
  margin: 20px 0;
}

.cartridge {
  position: absolute;
  inset: 0;
  height: 62em;
}

.strip {
  overflow: hidden;
  position: relative;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

  background: url('/img/bard.png') no-repeat;
  background-size: 100% auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.animation {
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-duration: 600ms;
  animation-timing-function: ease;
}

.animation--smooth {
  animation-name: smooth;
}

.animation--quick {
  animation-name: quick;
  animation-timing-function: linear;
}

.animation--both {
  animation-name: both;
  animation-timing-function: linear;
  animation-duration: 2s;
}

// ----- Glitch ----- //

@keyframes glitch-5 {
  0.00%,
  33.33%,
  43.33%,
  66.67%,
  76.67%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  43.23% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(2px 3px 0 rgb(0 0 255 / 0.1));
  }

  66.77%,
  76.57% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(-3px 0px 0 rgb(0 0 255 / 0.1));
  }
}
@keyframes glitch-6 {
  0.00%,
  33.33%,
  41.67%,
  66.67%,
  75.00%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  41.57% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(2px -3px 0 rgb(0 0 255 / 0.1));
  }

  66.77%,
  74.90% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(3px -4px 0 rgb(255 0 0 / 0.1));
  }
}
@keyframes glitch-7 {
  0.00%,
  33.33%,
  40.48%,
  66.67%,
  73.81%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  40.38% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(0px 1px 0 rgb(255 0 0 / 0.1));
  }

  66.77%,
  73.71% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(1px 0px 0 rgb(255 0 0 / 0.1));
  }
}
@keyframes glitch-8 {
  0.00%,
  33.33%,
  39.58%,
  66.67%,
  72.92%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  39.48% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(2px -3px 0 rgb(0 0 255 / 0.1));
  }

  66.77%,
  72.82% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(-2px -2px 0 rgb(255 0 0 / 0.1));
  }
}
@keyframes glitch-9 {
  0.00%,
  33.33%,
  38.89%,
  66.67%,
  72.22%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  38.79% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(1px 1px 0 rgb(255 0 0 / 0.1));
  }

  66.77%,
  72.12% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(0px 2px 0 rgb(255 0 0 / 0.1));
  }
}
@keyframes glitch-10 {
  0.00%,
  33.33%,
  38.33%,
  66.67%,
  71.67%,
  100.00% {
    transform: none;
    filter: hue-rotate(0) drop-shadow(0 0 0 transparent);
  }

  33.43%,
  38.23% {
    transform: translateX(var(--glitch-x-1));
    filter: hue-rotate(var(--glitch-hue-1))
      drop-shadow(-3px 1px 0 rgb(0 0 255 / 0.1));
  }

  66.77%,
  71.57% {
    transform: translateX(var(--glitch-x-2));
    filter: hue-rotate(var(--glitch-hue-2))
      drop-shadow(3px 1px 0 rgb(255 0 0 / 0.1));
  }
}
