@keyframes example-1 {
  25% {
    transform: translateX(5rem);
    background-color: oklch(59.7% 0.207 10);
  }
  50% {
    transform: translateX(5rem) rotate(90deg);
  }
  75% {
    transform: translateX(5rem) scale(1.5) rotate(180deg);
    background-color: oklch(56.44% 0.185 299.82);
  }
  100% {
    transform: rotate(-90deg);
    background-color: oklch(56.16% 0.198 258.79);
  }
}

.animation {
  width: 4rem;
  height: 4rem;
  background-color: oklch(56.16% 0.198 258.79);
  border-radius: 1rem;
  margin-bottom: 1.25rem;
}

.animation-1 {
  animation: example-1 2000ms 1;
}

.playback-speed {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.playback-speed-label {
  font-weight: 600;
}
