.non-scaling-svg-resize {
  overflow: auto;
  resize: both;
  padding: 1.5rem;
  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  border-bottom-right-radius: 0;
}
