@import '../base/_variables.scss';
@import '../base/_breakpoints.scss';
@import '../base/_mixins.scss';

.example {
  margin-block: 2em;
}

.example__svg {
  aspect-ratio: 1;
  display: block;
  margin-bottom: 1em;
}

.example__grid-lines {
  stroke: var(--neutral-200);

  .example--hide-grid & {
    display: none;
  }
}

.example__vectors {
  stroke: var(--theme-color);
  stroke-width: 2;

  .example--hide-vectors & {
    display: none;
  }

  path {
    transform-origin: center top;
    transform-box: fill-box;
    transition: transform 300ms;
  }
}

.example__lines {
  stroke: var(--neutral-800);
  transition: opacity 500ms;
  stroke-width: 2;

  .example--hide-lines & {
    display: none;
  }
}

.example__chunky-line {
  stroke: red;
  stroke-width: 4;

  path {
    transform-origin: center top;
    transform-box: fill-box;
    transition: transform 300ms;
  }
}

.example .btn + .btn {
  margin-left: 10px;
}
