@font-face {
  font-family: 'Marvin Visions Variable';
  src: url(/fonts/MarvinVisions-Variable.woff2) format('woff2'),
    url(/fonts/MarvinVisions-Variable.woff) format('woff'),
    url(/fonts/MarvinVisions-Variable.ttf) format('truetype');
  font-weight: 20 170;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url(/fonts/BricolageGrotesque[opsz,wdth,wght].woff2) format('woff2'),
    url(/fonts/BricolageGrotesque[opsz,wdth,wght].woff) format('woff'),
    url(/fonts/BricolageGrotesque[opsz,wdth,wght].ttf) format('truetype');
}
