# Ignore docs files
_site
.ruby-version
Gemfile.lock

# Numerous always-ignore extensions
*.diff
*.log
*.zip
*~

.DS_Store
._*

# gulp / node stuff
node_modules
.tmp
.sass-cache/
.jekyll-metadata
.jekyll-cache/
vendor
.cache
.parcel-cache/
