---
layout: home
title: Home
---

<div class="Posts Container">
  {% for post in paginator.posts %}
  <div class="Post">
    <div class="Post-content">
      {% if paginator.page == 1 and forloop.index == 1 %}
        <div class="Post-latest">
          <div class="Post-latestIcon">
            {% include svg/sprout.svg %}
          </div>
          Latest post
        </div>
      {% endif %}

      <h1 class="Post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <div class="Post-data">
        <div class="Post-date">
          <div class="Post-dateIcon">
            {% include svg/clock.svg %}
          </div>
          {{ post.date | date_to_string }}
        </div>

        {% assign comments = site.data.comments[post.slug] %}
        {% if comments != null %}
          <a href="{{ site.baseurl }}{{ post.url }}#comments">
            {{ comments.size }}
            {% if comments.size != 1 %}Comments{% else %}Comment{% endif %}
          </a>
        {% endif %}
      </div>

      <div class="Post-text">
        {{ post.excerpt }}
      </div>

      {% if post.excerpt != post.content %}
        <a class="Post-readmore" href="{{ site.baseurl }}{{ post.url }}">Read more</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% include partials/pagination.html %}
