---
layout: home
title: Home
---

<div class="Posts Container">
  {% for post in paginator.posts %}
  <div class="Post">
    <h1 class="Post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="Post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}


    {% if post.excerpt != post.content %}
        <a class="Post-readmore" href="{{ site.baseurl }}{{ post.url }}">Read more</a>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% include pagination.html %}
