<a href="{{ drawing.permalink }}" class="art__single {% if drawing.extra.theme %}{{ drawing.extra.theme }}{% endif %}">
  <div class="art__single-title h5">
    {{ drawing.title | safe }}{% include "partials/svg-post-arrow.html" %}
  </div>

  <div class="art__single-date">
    {{ drawing.date | date(format="%B %Y") }}
  </div>

  {# Add date to the image path #}
  {# To prevent this weird error I can't replicate locally #}
  {# https://github.com/Stanko/Stanko.github.io/runs/6260600239 #}
  {% set image_path = drawing.extra.image | replace(from="/art/", to="/art/" ~ drawing.date ~ "-") %}

  {%- set image = resize_image(path=image_path, width=500, height=500, op="fit", quality=90) %}
  {%- set image_tiny = resize_image(path=image_path, width=40, height=40, op="fit", quality=100) %}
  <div class="art__single-image-wrapper" aria-hidden="true">
    {% if loop.index0 < 12 %}
      <img src="{{ image.url }}" alt="" class="art__single-image" />
    {% else %}
      <img src="{{ image_tiny.url }}" alt="" class="art__single-image" />
      <img src="{{ image.url }}" alt="" class="art__single-image" loading="lazy" />
    {% endif %}
  </div>
</a>
