<div class="comment" id="comment-{{ comment.comment_id }}">
  <div class="comment__top">
    {% if comment.name == 'Stanko' %}
      <div class="comment__avatar comment__avatar--mm">
        {% include "partials/svg-logo.html" %}
      </div>
    {% else %}
      <img aria-hidden="true" class="comment__avatar" src="https://www.gravatar.com/avatar/{{ comment.email }}?d=mm&r=g" />
    {% endif %}

    <div class="comment__right">
      <div class="comment__name h5">
        {{ comment.name }}
      </div>
      <div class="comment__date">
        {{ comment.date | date(format="%d. %b %Y, %H:%M") }}
      </div>
    </div>
  </div>
  <div class="comment__message">{{ comment.message | markdown | safe }}</div>
</div>
