<div class="container">
  <a
    class="latest-post {% if latest_post.extra.theme %}{{ latest_post.extra.theme }}{% endif %}"
    href="{{ latest_post.permalink }}"
  >
    <div class="latest-post__content">
      <div class="latest-post__text">
        <div class="latest-post__eyebrow">
          {% include "partials/svg-leaf.html" %}
          Latest post
        </div>
        <h2 class="latest-post__title h3">
          <div class="latest-post__title-text">
            {{ latest_post.title | safe }}{% include "partials/svg-post-arrow.html" %}
          </div>
          {% if latest_post.extra.vertigo %}
            {% include "partials/svg-vertigo.html" %}
          {% endif %}
          {% if latest_post.extra.icon %}
            <img src="{{ latest_post.extra.icon }}" alt="" aria-hidden="true" class="blog-list__icon" />
          {% endif %}
        </h2>

        <div class="latest-post__date">
          {{ latest_post.date | date(format="%d. %b %Y") }}
        </div>

        <div class="latest-post__intro">
          {{ latest_post.extra.intro | safe }}
        </div>
      </div>
      {% if latest_post.extra.image %}
        {%- set date_string = "/art/" ~ latest_post.date ~ "-" %}
        {%- set image_path = latest_post.extra.image | replace(from="/art/", to=date_string) %}
        {%- set image = resize_image(path=latest_post.extra.image, width=1000, height=1000, op="fit", quality=90) %}
        <div class="latest-post__image-wrapper {% if latest_post.extra.shadow %}latest-post__image-wrapper--shadow{% endif %}">
          <img src="{{ image.url }}" alt="" aria-hidden="true"  />
        </div>
      {% endif %}
    </div>
  </a>
</div>

