<div class="container">
  <div class="modal-nav">
    <a class="h1 red" href="/art/">
      Art
    </a>
    <a class="h1 blue" href="/blog/">
      Blog
    </a>
    <a class="h1 purple" href="/projects/">
      Projects
    </a>
    <a class="h1 blue" href="/about/">
      About
    </a>
    <a class="h3 modal-nav__link-margin" href="/stats/">
      Stats
    </a>
    <a class="h3" href="/atom.xml" target="_blank">
      RSS Feed
    </a>
    <a
      class="h3"
      href="https://github.com/stanko/"
      target="_blank"
      rel="noopener"
    >
      GitHub
    </a>
  </div>
</div>
