<a href="{{ post.permalink }}" class="post-list__post {% if post.extra.theme %}{{ post.extra.theme }}{% endif %}">
  <div class="container">
    <div class="post-list__content">
      <div class="post-list__info">
        <div class="post-list__title">
          {% include "partials/post-title.html" %}
        </div>
        <div class="post-list__date">
          {{ post.date | date(format="%d. %b %Y") }}
          <div class="post-list__category"> &bull; {{ post.taxonomies.category[0] }}</div>
        </div>
      </div>
      {% if post.extra.vertigo %}
        {% include "partials/svg-vertigo.html" %}
      {% endif %}
      {% if post.extra.icon %}
        <img src="{{ post.extra.icon }}" alt="" aria-hidden="true" class="post-list__icon" />
      {% endif %}
    </div>
  </div>
</a>
