<div class="keyboard-svg-wrapper">
  <svg class="keyboard-svg" viewBox="0 0 609 242" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
    <g stroke="none" stroke-width="1" fill="#FFFFFF" fill-rule="evenodd">
      <rect class="key" id="key--q" x="52" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--w" x="95" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--e" x="138" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--r" x="182" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--t" x="225" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--y" x="269" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--u" x="312" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--i" x="356" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--o" x="399" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--p" x="442" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--squareBracketLeft" x="486" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--squareBracketRight" x="529" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--backslash" x="573" y="70" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--tilde" x="1" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--1" x="44" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--2" x="88" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--3" x="131" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--4" x="175" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--5" x="218" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--6" x="262" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--7" x="305" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--8" x="348" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--9" x="392" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--0" x="435" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--minus" x="479" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--equals" x="522" y="25" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--esc" x="1" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f1" x="45" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f2" x="89" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f3" x="133" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f4" x="176" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f5" x="221" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f6" x="264" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f7" x="308" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f8" x="352" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f9" x="396" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f10" x="440" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f11" x="484" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--f12" x="528" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--power" x="572" y="0" width="37" height="18" rx="6"></rect>
      <rect class="key" id="key--delete" x="566" y="25" width="43" height="37" rx="6"></rect>
      <rect class="key" id="key--a" x="65" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--s" x="109" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--d" x="152" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--f" x="195" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--g" x="239" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--h" x="282" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--j" x="326" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--k" x="369" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--l" x="413" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--semicolon" x="456" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--apostrophe" x="500" y="114" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--z" x="88" y="158" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--x" x="131" y="158" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--c" x="175" y="158" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--v" x="218" y="158" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--b" x="262" y="158" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--n" x="305" y="158" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--m" x="348" y="158" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--comma" x="392" y="158" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--dot" x="435" y="158" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--slash" x="479" y="158" width="36" height="37" rx="6"></rect>
      <rect class="key" id="key--fn" x="0" y="203" width="33" height="37" rx="6"></rect>
      <rect class="key" id="key--controlLeft" x="41" y="203" width="33" height="37" rx="6"></rect>
      <rect class="key" id="key--altLeft" x="81" y="203" width="33" height="37" rx="6"></rect>
      <rect class="key" id="key--altRight" x="444" y="203" width="33" height="37" rx="6"></rect>
      <rect class="key" id="key--arrowLeft" x="485" y="221" width="37" height="19" rx="6"></rect>
      <g class="key" id="key--arrowUp" transform="translate(529.000000, 203.000000)">
        <path d="M37,11.5 L37,6 C37,2.6862915 34.3137085,-6.08718376e-16 31,0 L6,0 L6,0 C2.6862915,6.08718376e-16 -4.05812251e-16,2.6862915 0,6 L0,6 L0,11.5 L0,19 L37,19 L37,11.5 Z"></path>
      </g>
      <g class="key" id="key--arrowDown" transform="translate(529.000000, 222.000000)">
        <path d="M37,7.5 L37,13 C37,16.3137085 34.3137085,19 31,19 L6,19 C2.6862915,19 4.05812251e-16,16.3137085 0,13 L0,7.5 L0,0 L37,0 L37,7.5 Z"></path>
      </g>
      <rect class="key" id="key--arrowRight" x="573" y="221" width="36" height="19" rx="6"></rect>
      <rect class="key" id="key--enter" x="543" y="114" width="66" height="37" rx="6"></rect>
      <rect class="key" id="key--cmdLeft" x="122" y="203" width="45" height="37" rx="6"></rect>
      <rect class="key" id="key--cmdRight" x="392" y="203" width="45" height="37" rx="6"></rect>
      <rect class="key" id="key--shiftRight" x="522" y="158" width="87" height="37" rx="6"></rect>
      <rect class="key" id="key--tab" x="0" y="70" width="44" height="37" rx="6"></rect>
      <rect class="key" id="key--capsLock" x="0" y="114" width="57" height="37" rx="6"></rect>
      <rect class="key" id="key--shiftLeft" x="0" y="158" width="80" height="37" rx="6"></rect>
      <rect class="key" id="key--space" x="175" y="203" width="210" height="37" rx="6"></rect>
    </g>
  </svg>
</div>
