<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="-64 -64 128 128" width="64" height="64">
  <style>
  .vrtg circle {
    transition: r 1000ms;
    will-change: r;
    fill: white;
  }
  </style>
  <circle cx="0" cy="0" r="64" fill="currentColor" />
  <g class="vrtg">
    <circle cx="0" cy="0" r="4.43" />
    <circle cx="11.000" cy="0.000" r="1.4" />
    <circle cx="5.500" cy="9.526" r="3.68" />
    <circle cx="-5.500" cy="9.526" r="3.48" />
    <circle cx="-11.000" cy="0.000" r="1.64" />
    <circle cx="-5.500" cy="-9.526" r="4.59" />
    <circle cx="5.500" cy="-9.526" r="4.43" />
    <circle cx="22.000" cy="0.000" r="2.59" />
    <circle cx="19.053" cy="11.000" r="2.35" />
    <circle cx="11.000" cy="19.053" r="2.56" />
    <circle cx="0.000" cy="22.000" r="1.82" />
    <circle cx="-11.000" cy="19.053" r="2.21" />
    <circle cx="-19.053" cy="11.000" r="2.51" />
    <circle cx="-22.000" cy="0.000" r="2.95" />
    <circle cx="-19.053" cy="-11.000" r="4.21" />
    <circle cx="-11.000" cy="-19.053" r="4.8" />
    <circle cx="-0.000" cy="-22.000" r="4.85" />
    <circle cx="11.000" cy="-19.053" r="4.75" />
    <circle cx="19.053" cy="-11.000" r="3.49" />
    <circle cx="33.000" cy="0.000" r="2.59" />
    <circle cx="31.010" cy="11.287" r="3.08" />
    <circle cx="25.279" cy="21.212" r="3.15" />
    <circle cx="16.500" cy="28.579" r="2.77" />
    <circle cx="5.730" cy="32.499" r="2.4" />
    <circle cx="-5.730" cy="32.499" r="1.89" />
    <circle cx="-16.500" cy="28.579" r="2.29" />
    <circle cx="-25.279" cy="21.212" r="2.32" />
    <circle cx="-31.010" cy="11.287" r="2.24" />
    <circle cx="-33.000" cy="0.000" r="2.17" />
    <circle cx="-31.010" cy="-11.287" r="2.09" />
    <circle cx="-25.279" cy="-21.212" r="4.04" />
    <circle cx="-16.500" cy="-28.579" r="2.45" />
    <circle cx="-5.730" cy="-32.499" r="1.91" />
    <circle cx="5.730" cy="-32.499" r="1.99" />
    <circle cx="16.500" cy="-28.579" r="3.17" />
    <circle cx="25.279" cy="-21.212" r="2.78" />
    <circle cx="31.010" cy="-11.287" r="2.27" />
    <circle cx="44.000" cy="0.000" r="2.31" />
    <circle cx="42.501" cy="11.388" r="3.28" />
    <circle cx="38.105" cy="22.000" r="3.06" />
    <circle cx="31.113" cy="31.113" r="3.45" />
    <circle cx="22.000" cy="38.105" r="3.85" />
    <circle cx="11.388" cy="42.501" r="3.59" />
    <circle cx="0.000" cy="44.000" r="3.8" />
    <circle cx="-11.388" cy="42.501" r="2.19" />
    <circle cx="-22.000" cy="38.105" r="2.88" />
    <circle cx="-31.113" cy="31.113" r="3.03" />
    <circle cx="-38.105" cy="22.000" r="2.51" />
    <circle cx="-42.501" cy="11.388" r="2.02" />
    <circle cx="-44.000" cy="0.000" r="2.02" />
    <circle cx="-42.501" cy="-11.388" r="1.94" />
    <circle cx="-38.105" cy="-22.000" r="1.81" />
    <circle cx="-31.113" cy="-31.113" r="3.59" />
    <circle cx="-22.000" cy="-38.105" r="2.29" />
    <circle cx="-11.388" cy="-42.501" r="1.76" />
    <circle cx="-0.000" cy="-44.000" r="1.73" />
    <circle cx="11.388" cy="-42.501" r="1.69" />
    <circle cx="22.000" cy="-38.105" r="3.66" />
    <circle cx="31.113" cy="-31.113" r="2.15" />
    <circle cx="38.105" cy="-22.000" r="1.91" />
    <circle cx="42.501" cy="-11.388" r="1.95" />
    <circle cx="55.000" cy="0.000" r="2.1" />
    <circle cx="53.798" cy="11.435" r="2.56" />
    <circle cx="50.245" cy="22.371" r="3.09" />
    <circle cx="44.496" cy="32.328" r="3.01" />
    <circle cx="36.802" cy="40.873" r="3.6" />
    <circle cx="27.500" cy="47.631" r="4.09" />
    <circle cx="16.996" cy="52.308" r="4.1" />
    <circle cx="5.749" cy="54.699" r="4.02" />
    <circle cx="-5.749" cy="54.699" r="3.56" />
    <circle cx="-16.996" cy="52.308" r="3.16" />
    <circle cx="-27.500" cy="47.631" r="3.18" />
    <circle cx="-36.802" cy="40.873" r="2.76" />
    <circle cx="-44.496" cy="32.328" r="2.39" />
    <circle cx="-50.245" cy="22.371" r="2.11" />
    <circle cx="-53.798" cy="11.435" r="1.89" />
    <circle cx="-55.000" cy="0.000" r="1.69" />
    <circle cx="-53.798" cy="-11.435" r="1.74" />
    <circle cx="-50.245" cy="-22.371" r="1.61" />
    <circle cx="-44.496" cy="-32.328" r="1.57" />
    <circle cx="-36.802" cy="-40.873" r="1.87" />
    <circle cx="-27.500" cy="-47.631" r="2.89" />
    <circle cx="-16.996" cy="-52.308" r="1.54" />
    <circle cx="-5.749" cy="-54.699" r="1.5" />
    <circle cx="5.749" cy="-54.699" r="1.35" />
    <circle cx="16.996" cy="-52.308" r="2.21" />
    <circle cx="27.500" cy="-47.631" r="1.98" />
    <circle cx="36.802" cy="-40.873" r="1.39" />
    <circle cx="44.496" cy="-32.328" r="1.46" />
    <circle cx="50.245" cy="-22.371" r="1.58" />
    <circle cx="53.798" cy="-11.435" r="1.8" />
  </g>
  <script type="text/javascript"><![CDATA[
  (function () {
    var circles = document.querySelectorAll('.vrtg circle');
    var data = [
      [
        4.72, 1.64, 1.93, 2.77, 4.75, 4.69, 3.48, 1.39, 1, 1.1, 2.44, 1.31, 4.32,
        4.28, 4.15, 2.65, 4.12, 1.58, 1.43, 1, 1, 1, 1, 1.17, 3.47, 2.78, 3.42,
        2.19, 1.38, 1.55, 1.92, 1.72, 2.73, 3.56, 1.96, 1.04, 1.12, 1, 1, 1, 1, 1,
        1.44, 3.47, 4.02, 3.32, 1.35, 1, 1, 1, 1, 1, 1.02, 1.06, 1.48, 1.34, 2.02,
        1.1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1.66, 2.11, 2.04, 1.08, 1, 1, 1, 1,
        1, 1, 1, 1, 1.01, 1.09, 1, 1, 1, 1, 1, 1, 1, 1,
      ],
      [
        4.43, 1.4, 3.68, 3.48, 1.64, 4.59, 4.43, 2.59, 2.35, 2.56, 1.82, 2.21,
        2.51, 2.95, 4.21, 4.8, 4.85, 4.75, 3.49, 2.59, 3.08, 3.15, 2.77, 2.4,
        1.89, 2.29, 2.32, 2.24, 2.17, 2.09, 4.04, 2.45, 1.91, 1.99, 3.17, 2.78,
        2.27, 2.31, 3.28, 3.06, 3.45, 3.85, 3.59, 3.8, 2.19, 2.88, 3.03, 2.51,
        2.02, 2.02, 1.94, 1.81, 3.59, 2.29, 1.76, 1.73, 1.69, 3.66, 2.15, 1.91,
        1.95, 2.1, 2.56, 3.09, 3.01, 3.6, 4.09, 4.1, 4.02, 3.56, 3.16, 3.18, 2.76,
        2.39, 2.11, 1.89, 1.69, 1.74, 1.61, 1.57, 1.87, 2.89, 1.54, 1.5, 1.35,
        2.21, 1.98, 1.39, 1.46, 1.58, 1.8,
      ],
    ];
    var index = 0;
    var interval;

    function start() {
      interval = setInterval(function () {
        for (var i = 0; i < circles.length; i++) {
          circles[i].setAttribute('r', data[index][i]);
        }
        index = (index + 1) % 2;
      }, 5000);
    }

    start();

    function handleVisibilityChange() {
      if (document.visibilityState === 'hidden') {
        clearInterval(interval);
      } else {
        start();
      }
    }

    document.addEventListener('visibilitychange', handleVisibilityChange, false);
  })();
  ]]></script>
</svg>
