<svg viewBox="0 0 1000 40" class="wave">
  <path d="M 0.25 -5 L 0,0 L 500 40 L 1000,0.25 L 1000,-5 z" class="wave__fill" />
  <path d="M0,0.25 L 500 40 L 1000,0.25" fill="none" vector-effect="non-scaling-stroke" class="wave__border" />
</svg>


<!-- <svg viewBox="0 0 1000 30" class="wave">
  <path d="M 0 -5 L 0,0 C 333,0 333,30 500,30 C 667,30 667,0 1000,0 L 1000,-5 z" class="wave__fill" />
  <path d="M0,0 C 333,0 333,30 500,30 C 667,30 667,0 1000,0" fill="none" vector-effect="non-scaling-stroke" class="wave__border" />
</svg> -->
