{% if page.toc and page.toc | length > 3 %}
<div class="toc">
  <h2 class="toc__title h4">Table of Contents</h2>

  <ul class="toc__list">
    {% for h1 in page.toc %}
      <li class="toc__item">
        <a class="toc__link" href="{{ h1.permalink | safe }}">{{ h1.title }}</a>

        {% if h1.children %}
          <ul class="toc__list">
            {% for h2 in h1.children %}
              <li class="toc__item">
                <a class="toc__link" href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

