body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $font-size;

  @include md {
    font-size: $font-size-md;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headers-font-family;
  font-weight: $headers-font-weight;
  margin: 1.5em 0 0.8em;
}

h1 {
  font-size: 3rem;

  @include sm {
    font-size: 3.5rem;
  }

  @include md {
    font-size: 4rem;
  }
}

p {
  margin: 1.5rem 0;
}

a {
  color: $red;
  text-decoration: none;
  transition:
    color $transition-time,
    background $transition-time;

  &:hover {
    color: darken($red, 15);
  }
}

pre,
code {
  font-family: "Monaco", "Consolas", "Menlo", monospace;
}

pre {
  overflow-x: auto;
}

code {
  font-size: 0.85em;
}

code.highlighter-rouge {
  background: #f1f1f1;
  padding: 0.2rem 0.7rem;
  margin: 0 0.2rem;
  border-radius: 0.3rem;
  color: #335;
}

pre,
div.highlighter-rouge pre,
figure.highlight pre {
  position: relative;
  padding: 1.8rem 2rem;
  margin: 0;
  background: $dark;
  color: $white;
  border-radius: 0.2rem;
  font-size: 1.6rem;

  code {
    font-size: 1.6rem;
  }

  pre {
    position: relative;
    padding: 0;
    margin: 0;
  }
}

hr {
  margin: 3.5rem 0;
  height: 0;
  border: 0;
  border-bottom: 0.1rem solid $greyE;

  @include md {
    margin: 4.5rem 0;
  }
}
