body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $font-size;

  @include md {
    font-size: $font-size-md;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headers-font-family;
  font-weight: $headers-font-weight;
}

p {

}

a {
  color: $blue;
  text-decoration: none;
}

pre {
  overflow-x: scroll;
}
