<div class="Header-line"></div>
<div class="Header Header--page">
  <div class="RotationWrapper">
    <div class="Rotation">
      <div class="Rotation-item Rotation-item--one">
        <img src="/public/img/poly-1.svg" />
      </div>
      <div class="Rotation-item Rotation-item--two">
        <img src="/public/img/poly-2.svg" />
      </div>
      <div class="Rotation-item Rotation-item--three">
        <img src="/public/img/poly-3.svg" />
      </div>
    </div>
  </div>

  <div class="Header-title">
    <div class="Container">
      <button class="Header-menuButton Menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="Header-titleContent">
        <h1>Category: {{ page.title }}</h1>
        {% if page.date %}
          <div class="Header-date">{{ page.date | date_to_string }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>


<div class="AboutBlog AboutBlog--small Container">
  <a href="/" class="AboutBlog-homeLink">Home</a>
  <div class="AboutBlog-content">
    <a href="/" title="Home page" class="BlackLink">
      <h1 class="AboutBlog-subtitle">{{ site.description }}</h1>
      <h2 class="AboutBlog-title">
        <span class="AboutBlog-small">By</span> {{ site.title }}
      </h2>
    </a>
  </div>
</div>
