<div class="Header-line"></div>
<div class="Header Header--page">
  <button class="Header-menuButton Menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="Rotation">
    <div class="Rotation-item Rotation-item--one">
      <img src="/public/img/poly-1.svg" />
    </div>
    <div class="Rotation-item Rotation-item--two">
      <img src="/public/img/poly-2.svg" />
    </div>
    <div class="Rotation-item Rotation-item--three">
      <img src="/public/img/poly-3.svg" />
    </div>

    <div class="LatestPost">
      <span>
        Archive of the {{ page.type }}
      </span>
      <h1>
        <a href="{{ site.baseurl }}{{ site.posts[0].url }}">
          {{ page.title }}
        </a>
      </h1>
    </div>
  </div>
</div>

<div class="AboutBlog Grid">
  <div class="AboutBlog-content Col--md-5 Offset--md-3 Col--lg-4 Offset--lg-4">
    <a href="/" title="Home page">
      <img src="/public/img/s-small.png" class="AboutBlog-logo AboutBlog-logo--small" />
    </a>
    <h1 class="AboutBlog-title">{{ site.title }}</h1>
    <h2 class="AboutBlog-subtitle">{{ site.tagline }}</h2>
    <p class="AboutBlog-text">
      {{ site.description }}
    </p>
  </div>
</div>
