<div class="Header-line"></div>
<div class="Header Header--page">
  <div class="Rotation">
    <div class="Rotation-item Rotation-item--one">
      <img src="/public/img/poly-1.svg" />
    </div>
    <div class="Rotation-item Rotation-item--two">
      <img src="/public/img/poly-2.svg" />
    </div>
    <div class="Rotation-item Rotation-item--three">
      <img src="/public/img/poly-3.svg" />
    </div>
  </div>

  <div class="Header-title">
    <div class="Container">
      <button class="Header-menuButton Menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <h1>{{ page.title }}</h1>
      {% if page.date %}
        <span>{{ page.date | date_to_string }}</span>
      {% endif %}
    </div>
  </div>
</div>

<div class="AboutBlog AboutBlog--small Container">
  <a href="/" class="AboutBlog-homeLink">Home</a>
  <div class="AboutBlog-content">
    <a href="/" title="Home page" class="BlackLink">
      <img src="/public/img/s-small.png" class="AboutBlog-logo AboutBlog-logo--small" />
      <h1 class="AboutBlog-title">{{ site.title }}</h1>
    </a>
  </div>
</div>
