<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <!--
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/muffin.css">
  -->

  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">



  <!-- Icons -->
  <link rel='apple-touch-icon' sizes='57x57' href='/public/img/icons/apple-touch-icon-57x57.png' />
  <link rel='apple-touch-icon' sizes='60x60' href='/public/img/icons/apple-touch-icon-60x60.png' />
  <link rel='apple-touch-icon' sizes='72x72' href='/public/img/icons/apple-touch-icon-72x72.png' />
  <link rel='apple-touch-icon' sizes='76x76' href='/public/img/icons/apple-touch-icon-76x76.png' />
  <link rel='apple-touch-icon' sizes='114x114' href='/public/img/icons/apple-touch-icon-114x114.png' />
  <link rel='apple-touch-icon' sizes='120x120' href='/public/img/icons/apple-touch-icon-120x120.png' />
  <link rel='apple-touch-icon' sizes='144x144' href='/public/img/icons/apple-touch-icon-144x144.png' />
  <link rel='apple-touch-icon' sizes='152x152' href='/public/img/icons/apple-touch-icon-152x152.png' />
  <link rel='apple-touch-icon' sizes='180x180' href='/public/img/icons/apple-touch-icon-180x180.png' />
  <link rel='icon' type='image/png' href='/public/img/icons/favicon-32x32.png' sizes='32x32' />
  <link rel='icon' type='image/png' href='/public/img/icons/favicon-194x194.png' sizes='194x194' />
  <link rel='icon' type='image/png' href='/public/img/icons/favicon-96x96.png' sizes='96x96' />
  <link rel='icon' type='image/png' href='/public/img/icons/android-chrome-192x192.png' sizes='192x192' />
  <link rel='icon' type='image/png' href='/public/img/icons/favicon-16x16.png' sizes='16x16' />
  <link rel='manifest' href='/public/img/icons/manifest.json' />
  <link rel='mask-icon' href='/public/img/icons/safari-pinned-tab.svg' color='#ffc400' />
  <link rel='shortcut icon' href='/public/img/icons/favicon.ico' />
  <meta name='apple-mobile-web-app-title' content='Null Object' />
  <meta name='application-name' content='Null Object' />
  <meta name='msapplication-TileColor' content='#000000' />
  <meta name='msapplication-TileImage' content='/public/img/icons/mstile-144x144.png' />
  <meta name='msapplication-config' content='/public/img/icons/browserconfig.xml' />
  <meta name='theme-color' content='#ffffff' />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
