<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% if page.title == "Home" %}
    {% assign meta_descripton = site.tagline %}
    {% assign meta_title = site.title | append: " &middot; " | append: site.tagline %}
  {% else %}
    {% assign meta_descripton = content | strip_html | newline_to_br | replace: '<br />', ' ' | strip_newlines | escape | truncatewords: 30 %}
    {% assign meta_title = page.title | append: " &middot; " | append: site.title %}
  {% endif %}

  {% if page.type == "category" %}
    {% assign meta_descripton = meta_title %}
  {% endif %}

  <title>{{ meta_title }}</title>

  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Open+Sans:300,600,800&subset=latin-ext" rel="stylesheet">

  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ meta_title }}">
  <meta property="og:description" content="{{ meta_descripton }}">
  <meta property="og:image" content="{{ site.url }}/public/favicon/apple-touch-icon.png">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:title" content="{{ meta_title }}">
  <meta name="twitter:description" content="{{ meta_descripton }}">
  <meta name="twitter:image" content="{{ site.url }}/public/favicon/apple-touch-icon.png">

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png?v=v3">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png?v=v3">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png?v=v3">
  <link rel="manifest" href="/public/favicon/manifest.json?v=v3">
  <link rel="mask-icon" href="/public/favicon/safari-pinned-tab.svg?v=v3" color="#e04856">
  <link rel="shortcut icon" href="/public/favicon/favicon.ico?v=v3">
  <meta name="msapplication-config" content="/public/favicon/browserconfig.xml?v=v3">
  <meta name="theme-color" content="#ffffff">


  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
