<div class="Header-line"></div>
<div class="Header">
  <button class="Header-menuButton Menu-toggle">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="Rotation">
    <div class="Rotation-item Rotation-item--one">
      <img src="/public/img/poly-1.svg" />
    </div>
    <div class="Rotation-item Rotation-item--two">
      <img src="/public/img/poly-2.svg" />
    </div>
    <div class="Rotation-item Rotation-item--three">
      <img src="/public/img/poly-3.svg" />
    </div>

    <div class="LatestPost">
      <span>
        {% include icon-sprout.html %}
        Latest post
      </span>
      <h1>
        <a href="{{ site.baseurl }}{{ site.posts[0].url }}">
          {{ site.posts[0].title }}
        </a>
      </h1>
      <div class="Header-date">{{ site.posts[0].date | date_to_string }}</div>
    </div>
  </div>
</div>

<div class="AboutBlog Grid">
  <div class="AboutBlog-content Col--md-5 Offset--md-3 Col--lg-4 Offset--lg-4 Menu-toggle" title="Open menu">
    <h1 class="AboutBlog-subtitle">{{ site.description }}</h1>
    <h2 class="AboutBlog-title">
      <span class="AboutBlog-small">By</span> {{ site.title }}
    </h2>
  </div>
</div>
