<div class="Search">
  <div class="Search-overlay Search-toggle"></div>
  <div class="Search-content">
    <div class="Search-gradient">
      <div class="Search-top">
        <h3 class="Search-title">Search</h3>
        <button class="Search-close Search-toggle">&times;</button>
      </div>
      <div class="Search-inputWrapper">
        <input class="Search-input" placeholder="Type anything" type="search" />
      </div>
    </div>
    <div class="Search-bottom">
      <div class="Search-results">
      </div>
    </div>
  </div>
</div>
