.Post {
  position: relative;
  z-index: $z-index-1;
}

.Posts .Post {
  margin-bottom: 6rem;
  padding-bottom: 6rem;
  border-bottom: 0.1rem solid $greyE;

  @include md {
    margin-bottom: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.Post-date {
  display: flex;
  align-items: center;
  font-size: 0.8em;
}

.Post-dateIcon {
  fill: $red;
  display: inline-block;
  margin-top: 0.2rem;
  margin-right: 0.5em;

  svg {
    display: block;
    height: 1.5em;
    width: 1.5em;
  }
}

.Post img {
  border-radius: 0.3rem;
  max-width: 100%;
}

.Post-content {
  position: relative;
  z-index: 1;
}

.Post-bg {
  border-radius: none;
  position: absolute;
  top: 20%;
  right: -30%;
  z-index: 0;
  width: 50rem;
  max-width: 80%;
  opacity: 0.6;
}

.Post-title {
  position: relative;
  margin-bottom: 6rem;

  &::after {
    content: '';
    border-bottom: 0.2rem solid $red;
    width: 60%;
    position: absolute;
    left: -40%;
    bottom: -3rem;
    transition: transform $transition-time;
  }

  .Post:hover &::after {
    transform: translateX(60%);
  }

  a {
    display: block;
  }
}

.Post-title--archive {
  margin: 0.5rem 0 0;
  font-size: 2rem;

  @include md {
    font-size: 2.2rem;
  }

  &::after {
    display: none;
  }
}

.Post-title a {
  text-decoration: none;
  color: $black;
}

.Post-readmore {
  align-items: center;
  border-radius: 2.3rem;
  border: 0.2rem solid $red;
  display: inline-flex;
  font-size: 1.8rem;
  height: 4.6rem;
  margin-top: 2rem;
  padding: 0 2.5rem;

  @include md {
    border-radius: 2.5rem;
    font-size: 2rem;
    height: 5rem;
    padding: 0 3rem;
  }

  &:hover {
    background: $red;
    color: $white;
  }
}

.Post-top {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.Post-commentsLink {
  display: none;

  @include md {
    display: block;
  }
}

.Post-readTime {
  color: $greyC;
}

.Post-shareAndCategories {
  margin-top: 5rem;

  @include md {
    display: flex;
    justify-content: space-between;
  }
}

.Post-categories {
  margin-bottom: 1rem;

  div {
    font-family: $headers-font-family;
  }

  a {
    display: inline-block;
    margin: 1rem 1rem 0 0;
  }

  @include md {
    text-align: right;
    margin-bottom: 2rem;
    margin-left: 1rem;

    a {
      margin: 1rem 0 0 1rem;
    }
  }
}

.SharringButtons {
  font-family: $headers-font-family;
  margin-bottom: 2rem;

  @include md {
    margin-right: 1rem;
  }
}

.SharringButton {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  display: inline-block;
  border: 1px solid $red;
  border-radius: 50%;
  margin: 1rem 0.5rem 0 0;

  svg {
    width: 100%;
    height: 100%;
    display: block;
  }

  &--facebook {
    border-color: #4867AA;
    svg {
      fill: #4867AA;
    }

    &:hover {
      background: rgba(#4867AA, 0.1);
    }
  }

  &--twitter {
    border-color: #00ABF1;
    svg {
      fill: #00ABF1;
    }

    &:hover {
      background: rgba(#00ABF1, 0.1);
    }
  }

  &--googlePlus {
    border-color: #DB4437;
    svg {
      fill: #DB4437;
    }

    &:hover {
      background: rgba(#DB4437, 0.1);
    }
  }
}

.PostBottom {
  @include angled-edge('inside top', 'lower right', $white, $width: 3000, $height: 300);
  background: $dark;
  padding: 30rem 0 30rem;
  color: $white;
}

.RelatedPosts {
  h2 {
    margin-top: 0;
  }
}

.RelatedPosts-post {
  margin-bottom: 2rem;

  small {
    font-size: 1.5rem;
    color: $grey7;
    display: block;
  }
}
