.Post {
  position: relative;
  z-index: $z-index-1;
}

.Posts .Post {
  margin-bottom: 6rem;
  padding-bottom: 6rem;
  border-bottom: 0.1rem solid $greyE;

  @include md {
    margin-bottom: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.Post-title {
  position: relative;
  margin-bottom: 6rem;

  &::after {
    content: '';
    border-bottom: 0.2rem solid $red;
    width: 60%;
    position: absolute;
    left: -40%;
    bottom: -3rem;
    transition: transform $transition-time;
  }

  .Post:hover &::after {
    transform: translateX(60%);
  }
}

.Post-title a {
  text-decoration: none;
  color: $black;
}

.Post-readmore {
  align-items: center;
  border-radius: 2.3rem;
  border: 0.2rem solid $red;
  display: inline-flex;
  font-size: 1.8rem;
  height: 4.6rem;
  margin-top: 2rem;
  padding: 0 2.5rem;

  @include md {
    border-radius: 2.5rem;
    font-size: 2rem;
    height: 5rem;
    padding: 0 3rem;
  }

  &:hover {
    background: $red;
    color: $white;
  }
}

.Post-categories {
  font-family: $headers-font-family;

  a {
    font-size: 1.8rem;
    padding-left: 1rem;
  }
}

.Post-readTime {
  color: $greyC;
}

div.highlighter-rouge,
figure.highlight {
  position: relative;
  padding: 1.8rem 2rem;
  margin: 0;
  background: #333;
  color: $white;
  border-radius: 2px;
  font-size: 1.7rem;

  pre {
    position: relative;
    padding: 0;
    margin: 0;
  }
}
