.Post {
  position: relative;
  z-index: $z-index-1;
}

.Posts .Post-content {
  border-bottom: 1px solid rgba($black, 0.1);
  margin-bottom: 6rem;
  padding-bottom: 6rem;

  @include md {
    margin-bottom: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

.Post-data {
  align-items: center;
  display: flex;
}

.Post-date {
  align-items: center;
  display: flex;
  font-size: 0.75em;
  margin-right: auto;
}

.Post-dateIcon {
  display: inline-block;
  fill: $red;
  margin-right: 0.7rem;
  margin-top: 0.2rem;

  svg {
    display: block;
    height: 1.8rem;
    width: 1.8rem;
  }
}

.Post-latest {
  font-size: 0.75em;
  margin-top: 4.5rem;

  @include md {
    margin-top: 6rem;
  }

  + .Post-title {
    margin-top: 0;
  }
}

.Post-latestIcon {
  display: inline-block;

  svg {
    display: block;
    height: 2rem;
    width: 2.8rem;
  }
}


.Post img {
  border-radius: 0.3rem;
  display: block;
  max-width: 100%;
}

.Post {
  .Image--small,
  .Image--sm {
    max-width: 35rem;
  }

  .Image--medium,
  .Image--md {
    max-width: 45rem;
  }

  .Image--svg img {
    // IE fix
    width: 100%;
  }
}

.Post .DualImage {
  @include md {
    display: flex;

    div {
      @include flex-basis(50%);
    }

    div:nth-child(1) {
      padding-right: 0.75rem;
    }

    div:nth-child(2) {
      padding-left: 0.75rem;
    }

    img {
      margin: 0;
    }
  }
}

.Post-content {
  position: relative;
  z-index: 1;
}

.Post-title {
  margin-bottom: 6rem;
  position: relative;

  &::after {
    border-bottom: 2px solid $red;
    bottom: -3rem;
    content: '';
    left: -5rem;
    position: absolute;
    transition: transform $time;
    width: 15rem;
  }

  .no-touchevents .Post:hover &::after {
    transform: translateX(5rem);
  }

  a {
    display: block;
  }
}

.Post-title--archive {
  font-size: 2rem;
  margin: 0.5rem 0 0;

  @include md {
    font-size: 2.2rem;
  }

  &::after {
    display: none;
  }
}

.Post-title a {
  color: $black;
  text-decoration: none;
}

.Post-readmore {
  align-items: center;
  background: $white;
  border: 1px solid $red;
  border-radius: 2.3rem;
  display: inline-flex;
  font-size: 1.8rem;
  height: 4.6rem;
  margin-top: 2rem;
  padding: 0 2.5rem;
  transition: border $time, color $time, background $time;

  @include md {
    border-radius: 2.5rem;
    height: 5rem;
    padding: 0 3rem;
  }

  @include xl {
    font-size: 1.6rem;
  }

  .no-touchevents &:hover {
    background: $black;
    border-color: $black;
    color: $white;
  }
}

.Post-top {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  justify-content: space-between;
  line-height: 2.4rem;
  margin-bottom: 4rem;

  @include md {
    flex-direction: row;
  }
}

.Post-commentsLink {
  display: none;

  @include md {
    display: block;
  }
}

.Post-readTime {
  color: $greyC;
}

.Post-shareAndCategories {
  margin-top: 5rem;

  @include md {
    display: flex;
    justify-content: space-between;
  }
}

.Post-categories {
  margin-bottom: 1rem;

  div {
    font-family: $headers-font-family;
  }

  a {
    display: inline-block;
    margin: 1rem 1rem 0 0;
  }

  @include md {
    text-align: right;
    margin-bottom: 2rem;
    margin-left: 1rem;

    a {
      margin: 1rem 0 0 1rem;
    }
  }
}

.PostBottom {
  background: $light;
  // color: $white;
  padding: 18rem 0 0;
  position: relative;

  @include md {
    padding-top: 22rem;
  }

  @include lg {
    padding-top: 24rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    // color: $white;
  }
}

.PostBottom-angle {
  height: 200px;
  pointer-events: none;
  top: 0;
  width: 50%;
  z-index: $layer-header + 10;
}

.PostBottom-angle--left {
  @include angled-edge('inside top', 'lower right', $white, $width: 2000, $height: 200);
  left: 0;
  position: absolute;

  &::after {
    background-position: right center;
    z-index: $layer-header + 5;
  }
}

.PostBottom-angle--right {
  @include angled-edge('inside top', 'lower left', $white, $width: 2000, $height: 200);
  position: absolute;
  right: 0;

  &::after {
    background-position: left center;
    z-index: $layer-header + 5;
  }
}

.RelatedPosts {
  h2 {
    margin-top: 0;
  }
}

.RelatedPosts-post {
  margin-bottom: 2rem;

  .Small {
    font-size: 1.5rem;
    color: $grey7;
    display: block;
  }
}


// Expandable
.Expandable-toggleWrapper + div,
.Expandable-toggleWrapper + p {
  display: none;
  margin-top: 1.5rem;
}

.Expandable-toggle {
  background: none;
  border: 0;
  border-bottom: 1px dotted transparent;
  border-radius: 0;
  color: $red;
  font-size: 0.8em;
  padding: 0;
  transition: border $time;

  .no-touchevents &:hover {
    border-bottom-color: $greyD;
  }
}

.Expandable-toggleHideText {
  display: none;
}

.Expandable-toggle--open .Expandable-toggleHideText {
  display: inline;
}

.Expandable-toggle--open .Expandable-toggleShowText {
  display: none;
}


// Components
.Post,
.Page {
  counter-reset: sidequote;
}

.SideNote-trigger {
  border-bottom: 1px dotted $greyC;
  display: inline;
  line-height: 1;

  &::after {
    content: counter(sidequote);
    counter-increment: sidequote;
    font-size: 1.5rem;
    padding-left: 0.3rem;
    vertical-align: super;
  }
}

.SideNote {
  border-left: 1px solid $black;
  display: none;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.9rem;
  margin: 1.5rem 0;
  padding-left: 1rem;
  position: relative;
  transition: border $time;
  vertical-align: baseline;

  @include lg {
    display: block !important;
    border-left-color: transparent;
    clear: right;
    float: right;
    margin: 0 -21rem 0 0;
    width: 20rem;
  }

  @include xl {
    margin-right: -29rem;
    width: 27rem;
  }

  &::before {
    content: counter(sidequote);
    font-size: 1.3rem;
    line-height: 1;
    padding-right: 0.5rem;
    vertical-align: super;
  }

  code {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .SideNote-toggle--open + & {
    display: block;
  }
}

.no-touchevents .SideNote-trigger:hover {
  border-color: $grey9;
  cursor: help;

  & + .SideNote {
    border-left-color: $black;
  }
}

.Post {
  > * {
    max-width: $text-width-md;

    @include lg {
      max-width: $text-width-lg;
    }
  }
}

.DualImage,
.Code--lg,
.Image--lg {
  max-width: 100%;

  img {
    width: 100%;
  }
}

.Block--lg {
  max-width: 100%;
}

.Post blockquote {
  border-left: 2px solid #ddd;
  font-style: italic;
  margin: 3rem 0;
  padding: 0 0 0 2rem;

  @include md {
    padding: 0 0 0 3rem;
  }
}

.Post .Blockquote--lg {
  border: none;
  font-size: 3rem;
  line-height: 3.6rem;

  @include md {
    font-size: 4rem;
    line-height: 5rem;
    margin: 5rem 0;
  }
}


.Post {
  .Blockquote--sm,
  .Code--sm {
    max-width: $text-width-md;

    @include lg {
      max-width: $text-width-lg;
    }
  }
}

.Post-postLinks {
  border-top: 1px solid rgba($black, 0.1);
  display: flex;
  margin-top: 2rem;
  padding-top: 4rem;

  @include md {
    margin-top: 3rem;
    padding-top: 5rem;
  }
}

.Post-postLink {
  @include flex-basis(50%);
  color: $greyA;
  display: flex;
  flex-direction: column;
  transition: color $time;

  span {
    align-items: center;
    color: $black;
    display: flex;
    font-size: 1.4rem;
    font-weight: bolder;
    transition: transform $time;

    @include md {
      font-size: 1.6rem;
    }
  }

  svg {
    fill: none;
    height: 1.4rem;
    margin-top: -0.1rem;
    overflow: visible;
    stroke: $black;
    stroke-linecap: round;
    stroke-width: 0.2rem;
    width: 0.8rem;
  }
}

.Post-postLink--prev {
  svg {
    margin-right: 0.5rem;
  }

  .no-touchevents &:hover {
    color: $grey4;

    span {
      transform: translateX(-1rem);
    }
  }
}

.Post-postLink--next {
  text-align: right;

  span {
    justify-content: flex-end;
  }

  svg {
    margin-left: 0.5rem;
  }

  .no-touchevents &:hover {
    color: $black;

    span {
      transform: translateX(1rem);
    }
  }
}
