.SharingButtons {
  font-family: $headers-font-family;
  margin-bottom: 2rem;

  @include md {
    margin-right: 1rem;
  }

  > div {
    margin-bottom: 1rem;
  }
}

.SharingButton {
  align-items: center;
  border: 1px solid $black;
  border-radius: 50%;
  display: inline-flex;
  height: 4rem;
  justify-content: center;
  margin: 0 0.5rem 0 0;
  transition: background $time !important;
  width: 4rem;

  svg {
    display: block;
    height: 2rem;
    width: 2rem;
  }
}

.SharingButton--facebook {
  border-color: #4867AA !important;

  svg {
    fill: #4867AA;
  }

  .no-touchevents &:hover {
    background: rgba(#4867AA, 0.1);
  }
}

.SharingButton--twitter {
  border-color: #00ABF1 !important;

  svg {
    fill: #00ABF1;
  }

  .no-touchevents &:hover {
    background: rgba(#00ABF1, 0.1);
  }
}

.SharingButton--reddit {
  border-color: #fc451e !important;
  svg {
    fill: #fc451e;
  }

  .no-touchevents &:hover {
    background: rgba(#fc451e, 0.1);
  }
}

.SharingButton--hn {
  border-color: #FB651E !important;

  svg {
    fill: #FB651E;
    height: 1.6rem;
  }

  .no-touchevents &:hover {
    background: rgba(#FB651E, 0.1);
  }
}
