@import "../base/_variables.scss";
@import "../base/_reset.scss";
@import "../base/_breakpoints.scss";
@import "../base/_mixins.scss";

// ----- Timer global styles ----- //

.timer-wrapper {
  flex: auto;
}

.timer {
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.timer--paused {
  animation-play-state: paused;
}

// In Firefox we can use non-standard selector to pause when window is inactive:
// :-moz-window-inactive .timer--paused {
//   animation-play-state: paused;
// }

.timer--steps {
  animation-timing-function: steps(10);
}

.timer--short {
  animation-duration: 1500ms;
}

.timer-log {
  @include text-sm;
}

// ----- Chaining timer ----- //

.timer-chaining-demo-timers {
  display: flex;
  gap: 10rem;
}

// ----- Linear timer ----- //

@keyframes linear-progress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.timer-wrapper--linear {
  background: var(--neutral-200);
  border-radius: 100rem;
  height: 8rem;
  margin: 20rem 0;
  overflow: hidden;
}

.timer--linear {
  background: var(--theme-color);
  flex: auto;
  height: 100%;
  transform-origin: center left;
  transform: scaleX(0);
}

.timer--linear.timer--running {
  animation-name: linear-progress;
}

.timer--linear.timer--done {
  transform: scaleX(1);
}

// ----- Radial timer ----- //

@keyframes radial-progress {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

.timer-wrapper--radial {
  background: var(--neutral-100);
  border: 1px solid var(--neutral-200);
  border-radius: 100rem;
  height: 60rem;
  width: 60rem;
  margin: 20rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.timer--radial {
  background: var(--theme-color);
  flex: 5rem 0 0;
  height: 27.5rem;
  border-radius: 100rem;
  margin-top: 5rem;
  transform-origin: center 25rem;
  animation-iteration-count: infinite;
}

.timer--radial.timer--running {
  animation-name: radial-progress;
}
