@mixin md {
  @media (min-width: 600px) {
    @content;
  }
}

// ----- BASIC DEMO ----- //

.basic-demo {
  @include md {
    display: flex;
    align-items: center;
  }
}

.basic-states {
  font-size: 15rem;
  margin-top: 10rem;

  @include md {
    margin-top: 0;
    margin-left: 15rem;
  }
}

.basic-input {
  background: transparent;
  border: 1px solid var(--neutral-200);
  padding: 6rem 12rem;
  font-size: 18rem;
  border-radius: 4px;

  &:focus {
    border: 1px solid var(--neutral-600);
    outline: none;
  }

  // Hide Safari's autofill button
  &::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }
}

.basic-input:placeholder-shown + .basic-states .has-value {
  opacity: 0.15;
}

.basic-input:not(:placeholder-shown) + .basic-states .is-empty {
  opacity: 0.15;
}

.basic-input:not(:focus) + .basic-states .focused {
  opacity: 0.15;
}

// ----- DEMO INPUTS ----- //

.input-wrapper {
  position: relative;
  margin: 30rem 0 20rem; // To create space for floating inputs
  max-width: 400rem;
}

.input {
  width: 100%;
  padding: 8rem 0;
  padding-right: 30rem; // To avoid overlapping with the clear button
  color: var(--neutral-900);
  border: none;
  border-bottom: 1px solid var(--neutral-200);
  transition: border-color 250ms;
  background-color: transparent;

  &:focus {
    outline: none;
    border-bottom-color: var(--neutral-600);
  }

  &::placeholder {
    color: transparent;
  }

  // Hide Safari's autofill button
  &::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }
}

.label {
  position: absolute;
  top: 8rem;
  left: 0;
  color: var(--neutral-700);
  pointer-events: none;
  transform-origin: left center;
  transition: transform 250ms;
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-100%) scale(0.75);
}

.clear {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  top: 50%;
  right: -9rem; // To visually align with inputs right edge
  transform: translateY(-50%);
  border-radius: 50%;
  height: 30rem;
  width: 30rem;
  color: var(--neutral-600);
  transition: color 250ms;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    color: var(--neutral-900);
  }
}

.input:placeholder-shown + .label + .clear {
  display: none;
}
