.sidebar-title {
  color: #ccc;
  margin-top: 0;
}

.masthead-title img {
  display: none;
  margin: -4px 0 0;
  vertical-align: middle;
}

@media (min-width: 38em) {
  .masthead-title img {
    display: inline-block;
  }
}

.post {
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.post-title a:hover,
.post-title a:focus {
  color: #666;
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  background: #292929;
  border-color: #363636;
}

.pagination-wrapper {
  text-align: center;
}

.pagination {
  display: inline-block;
  margin: 0 0 2rem;
}

.pagination a,
.pagination span {
  border-radius: 3px;
  float: left;
  height: 36px;
  line-height: 36px;
  width: 30px;
}

a.pagination-step,
span.pagination-step {
  padding: 0 10px;
  width: auto;
}

.pagination-first,
.pagination-last,
.pagination-more, {
  display: none;
}

.pagination .active {
  background: #ddd;
  color: #fff;
}

@media (min-width: 38em) {
  .pagination-first,
  .pagination-last,
  .pagination-more {
    display: block;
  }

  a.pagination-step,
  span.pagination-step {
    padding: 0 15px;
    width: auto;
  }
}

.margin-y-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
