// Colors

$yellow: #FFC400;
$black: #000;
$white: #fff;

$text-color: #515151;
$text-bold-color: #303030;

$body-bg-color: #fff;

$link-color: #268bd2;
$link-hover-color: #065bb2;


// Breakpoints

$breakpoint-md: 600px !default;
$breakpoint-lg: 960px !default;
$breakpoint-xl: 1200px !default;


$zIndex-0: 0;
$zIndex-1: 100;
$zIndex-2: 200;
$zIndex-3: 300;
$zIndex-4: 400;
$zIndex-5: 500;
$zIndex-6: 600;
$zIndex-7: 700;
$zIndex-8: 800;
$zIndex-9: 900;
$zIndex-10: 1000;
