.Archive-section {
  border-bottom: 1px solid rgba($black, 0.05);

  &:first-child {
    border-top: 1px solid rgba($black, 0.05);
  }
}

.Archive-title {
  margin: 0;

  // margin-bottom: 6rem;
  // position: relative;
  //
  // &::after {
  //   border-bottom: 1px solid $red;
  //   bottom: -3rem;
  //   content: '';
  //   left: -40%;
  //   position: absolute;
  //   transition: transform $time;
  //   width: 60%;
  // }
  //
  // .Archive-section:hover &::after {
  //   transform: translateX(60%);
  // }

  .no-touchevents &:hover a {
    color: $red;
  }

  a {
    color: $text-color;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    transition: color $time;
  }
}

.Archive-titleCount {
  color: rgba($text-color, 0.25);
  margin-left: 2rem;
}

.Archive-posts {
  height: 0;
  overflow: hidden;
  transition: height $time2;
}

.Archive-postsContent {
  padding: 2rem 0 5rem;
}

.Archive-post {
  display: block;
}

.Archive-postTitle {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 0;
  padding-bottom: 0.3rem;
  position: relative;

  @include md {
    font-size: 2.4rem;
  }

  &::before {
    border-top: 1px solid $red;
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform $time;
    width: 100%;
  }

  .no-touchevents .Archive-post:hover & {
    &::before {
      transform: scaleX(1);
    }
  }
}

.Archive-postDate {
  align-items: center;
  color: $text-color;
  display: flex;
  font-size: 0.75em;
  margin-right: auto;
}

.Archive-postDateIcon {
  display: inline-block;
  fill: $red;
  margin-right: 0.7rem;
  margin-top: 0.2rem;

  svg {
    display: block;
    height: 1.8rem;
    width: 1.8rem;
  }
}
