.color-scheme-switcher {
  height: 50rem;
  width: 50rem;
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--neutral-600);
  transition: color $time;

  &:hover {
    color: var(--text-color);
  }

  @include md {
    color: var(--neutral-700);
    margin-left: 10rem;
  }
}

.color-scheme-switcher__to-dark {
  @include dark-scheme {
    display: none;
  }
}

.color-scheme-switcher__to-light {
  display: none;

  @include dark-scheme {
    display: block;
  }
}
