.dual-image {
  width: 100vw;
  max-width: 100vw;
  margin-left: -$gutter;

  @include md {
    margin-left: -$gutter-md;
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-md;
    align-items: flex-start;
  }

  @include lg {
    margin: 40rem 0;
    width: $container-inner-width;
    max-width: calc(100vw - #{2 * $gutter-lg});
  }
}

.dual-image__img {
  @include sm-only {
    margin-bottom: $spacing-md;
  }

  @include md {
    flex-shrink: 0;
    width: calc(50% - #{$spacing-md / 2});
  }

  @include lg {
    width: calc(50% - #{$spacing-md});
  }
}

.dual-image--shadow .dual-image__img {
  box-shadow: $shadow-md;
}

.dual-image__text {
  display: block;
  text-align: center;
}
