.footer {
  @include text-sm;
  background-color: $black;
  color: $gray-400;
  padding: 60rem 0;
  text-align: center;

  @include lg {
    padding: 100rem 0;
  }

  .logo {
    height: 30rem;
  }

  .logo path {
    fill: none;
    stroke: $gray-400;
    stroke-width: 1rem;
  }
}

.footer__rss-link {
  @include animated-underline(var(--theme-color), 2px);
  @include header;
  display: inline-flex;
  color: $gray-100;
  align-items: flex-end;
  padding-bottom: 2rem;
  margin-left: -0.5em; // to visually balance it

  &:hover {
    color: $white;

    svg {
      color: var(--theme-color);
    }
  }

  svg {
    transition: color $time;
    vertical-align: baseline;
    transform: translateY(-2.6rem);
    margin-right: 5rem;
    width: 1em;
    height: 1em;
  }
}

.footer__text {
  margin: 30rem 0;
}

.footer__logo-link {
  display: inline-block;
  margin-bottom: 10rem;
}
