.menu {
  background-color: var(--page-top-bg);
  padding: 10rem 0;
  z-index: $layer-menu;
  transition: transform $time-long, border $time-long;

  > .container {
    display: flex;
    align-items: center;
  }

  @include lg {
    padding: 20rem 0;
  }
}

.menu--hide {
  transform: translateY(-100%);
}

.menu-stripe {
  border-top: $top-stripe-height solid var(--theme-color);
  position: fixed;
  top: 0;
  z-index: $layer-modal + 1;
  width: 100%;
}

.menu__logo {
  display: flex;
  align-items: center;
  padding: 10rem;
  margin-left: -10rem;
  margin-right: auto;

  svg {
    height: 30rem;
    transition: transform $time;
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }

  &:hover svg {
    transform: scale(1.06);
  }

  path {
    fill: var(--theme-color);
  }
}

.menu__logo-text {
  @include marvin;
  margin-left: 8rem;
  font-size: 16rem;
  letter-spacing: 0.5rem;
  color: var(--text-color);
  font-weight: bold;
}

.menu__logo-big-letter {
  font-size: 18rem;
}

.menu__toggle {
  padding: 10rem;
  margin-right: -10rem;
  width: 50rem;
  height: 50rem;

  @include md {
    display: none;
  }

  span {
    background: var(--neutral-600);
    border-radius: 2rem;
    display: block;
    height: 2rem;
    margin: 6rem auto;
    transition: background $time;
    width: 28rem;
  }
}

.menu__close {
  width: 50rem;
  height: 50rem;
  margin-right: -10rem;
  position: relative;

  span {
    position: absolute;
    background: var(--neutral-600);
    border-radius: 2rem;
    display: block;
    height: 2rem;
    transition: background $time;
    width: 28rem;
    left: 11rem;
  }

  span:first-child {
    transform: rotate(45deg);
  }
  span:last-child {
    transform: rotate(-45deg);
  }
}

.menu__close:hover,
.menu__toggle:hover {
  span {
    background: var(--text-color);
  }
}
