.notice {
  @include text-sm;
  background: #fffbeb;
  border: 1px solid #fde68a;
  border-radius: $radius-sm;
  padding: 10rem 20rem;
  color: #925f07;
  margin-bottom: 20rem;
  max-width: $container-width-narrow;

  a {
    color: #000000;
  }
}
