.post-arrow {
  color: var(--theme-color);
  width: 0.7em;
  display: none;
  vertical-align: baseline;
  opacity: 0;
  top: -0.075em;
  position: relative;
  transform: translateX(-10rem);
  transition: transform $time, opacity $time;
  margin-left: 0.3em;

  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: currentColor;
  stroke-width: 4;

  @media (hover: hover) {
    display: inline;
  }
}

a:focus .post-arrow,
a:hover .post-arrow {
  opacity: 1;
  transform: none;
}
