.post-list__post {
  display: block;
  color: var(--text-color);
  padding: 5rem 0;
  border-radius: $radius-xs;

  &:hover {
    color: var(--theme-color);
  }

  &:focus {
    background-color: var(--neutral-50);
  }
}

.post-list__content {
  align-items: center;
  display: flex;
  max-width: $container-width-narrow;
}

.post-list__info {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.post-list__title {
  @include header;
  transition: color $time;
  text-wrap: balance; // to make sure the arrow doesn't fall on a new line
  text-wrap: pretty;
}

.post-list__date {
  @include text-sm;
  color: var(--text-light);
  order: -1;
}

.post-list__category {
  display: inline-block;
}

.post-list__icon {
  margin-left: 20rem;
}
