.related-posts {
  max-width: $container-width-narrow;
}

.related-posts__title {
  margin-bottom: 40rem;
}

.related-posts__post {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-bottom: 20rem;

  &:hover {
    color: $text-color;

    .related-posts__post-title {
      text-decoration-color: $cool-gray-300;
    }
  }
}

.related-posts__date {
  @include text-sm;
  color: $text-light;
}

.related-posts__post-title {
  @include header;
  transition: text-decoration $time;
  text-decoration: 1px underline transparent;
  display: inline-block;
  transition: border $time;
}
