.search__input {
  @include placeholder(var(--neutral-400));
  background: none;
  border: none;
  border-bottom: 1px solid var(--neutral-300);
  display: block;
  font-weight: $headers-font-weight;
  outline: none;
  width: 100%;
  transition: border $time;
  padding: 10rem 0;

  font-size: 28rem;

  @include lg {
    font-size: 32rem;
  }

  &:focus {
    border-bottom: 1px solid var(--neutral-400);
  }
}

.search__result {
  @include text-lg;
  color: var(--text-color);
  display: block;
  padding: 10rem 0 15rem;
  transition: color $time, background $time;

  b,
  mark {
    background: transparent;
    font-weight: $headers-font-weight;
    text-decoration: underline;
  }

  &:hover {
    color: var(--theme-color);
  }
}

.search__result--focused {
  display: block;
  color: var(--theme-color);
  background-color: var(--bg-color);

  .post-arrow {
    opacity: 1;
    transform: none;
  }
}

.search__result-title {
  @include header;
}

.search__result-eyebrow {
  @include text-sm;
  color: var(--neutral-600);
}

.search__no-results {
  @include md {
    margin-top: 10rem;
  }
}
