body {
  counter-reset: sidenote;
}

.sidenote__trigger {
  display: inline;
  text-align: inherit;
  white-space: normal;
  transition: all $time;
  outline: none;
  // Messy as text-decoration props support is weird
  text-decoration: underline;
  text-decoration: 1px underline $cool-gray-400;
  text-decoration-style: dotted;
  text-underline-offset: 2rem;
  -webkit-text-decoration-style: dotted;
  text-decoration-color: $cool-gray-400;
  -webkit-text-decoration-color: $cool-gray-400;

  &::after {
    content: counter(sidenote);
    counter-increment: sidenote;
    font-size: 12rem;
    line-height: 1;
    vertical-align: super;
  }

  &:hover {
    text-decoration-style: solid;
    -webkit-text-decoration-style: solid;
    cursor: help;
  }

  &:focus {
    text-decoration-color: $cool-gray-700;
    -webkit-text-decoration-color: $cool-gray-700;
    text-decoration-style: solid;
    -webkit-text-decoration-style: solid;
  }
}

.sidenote__note {
  display: none;
  border-left: 1px solid $cool-gray-700;
  padding: 6rem 10rem;
  font-size: 16rem;
  margin: 5rem 0;
  transition: box-shadow $time, transform $time;

  @include md-and-lower {
    background-color: $cool-gray-50;
  }

  .sidenote__trigger--expanded + & {
    // TODO explore it being inline on small screens
    display: block;
  }

  @include lg {
    .sidenote__trigger:hover + &,
    .sidenote__trigger:focus + & {
      box-shadow: $image-shadow;
      transform: translateY(-2px);
    }
  }

  @include lg {
    border: 1px solid transparent;
    background-color: white;
    font-size: 14rem;
    display: block !important;
    clear: right;
    float: right;
    margin: -2rem #{-$sidenote-width - $sidenote-margin} 0 0;
    width: $sidenote-width;
    border-radius: $radius-sm;
    padding: 7rem 10rem 8rem;
    position: relative;
    z-index: $layer-sidenote;

    &::before {
      content: counter(sidenote);
      font-size: 12rem;
      line-height: 1;
      padding-right: 4rem;
      vertical-align: super;
    }
  }

  code {
    font-size: 15rem !important;
    background: none !important;
    padding: 0 !important;
    color: $cool-gray-800 !important;

    @include lg {
      font-size: 13rem !important;
    }
  }
}

.sidenote__bracket {
  @include sr-only;
}
