.arrow-icon {
  color: var(--theme-color);
  width: 0.7em;
  display: none;
  vertical-align: baseline;
  opacity: 0;
  top: -0.075em;
  position: relative;
  transform: translateX(-0.625rem);
  transition: transform var(--time), opacity var(--time);
  margin-left: 0.2em;

  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: currentColor;
  stroke-width: 4;

  @media (hover: hover) {
    display: inline;
  }
}

a:focus-visible .arrow-icon,
a:hover .arrow-icon {
  opacity: 1;
  transform: none;
}
