.arrow-title {
  font-family: var(--font-header);
  line-height: 1.1;
  font-variation-settings: 'opsz' 85; /* 80 - 100 */
  font-weight: 140;
  font-size: 1.375rem;
  color: var(--text-color);
  transition: color 250ms;
  // TODO investigate the Safari bug
  // text-wrap: balance;

  @include md {
    font-variation-settings: 'opsz' 90; /* 80 - 100 */
  }

  @include lg {
    font-size: 1.5rem;
  }

  a:hover & {
    color: var(--theme-color);
  }
}

.arrow-title--lg {
  font-size: 1.5rem;
  font-weight: 160;

  @include md {
    font-size: 1.625rem;
  }

  @include lg {
    font-size: 1.75rem;
  }
}

.arrow-title--reversed .arrow-icon {
  rotate: 180deg;
  margin-left: 0;
  margin-right: 0.2em;
}
