.art-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  outline: none;

  &:hover,
  &:focus-visible {
    .art-card__image-wrapper {
      color: var(--theme-color-100);
    }

    img {
      transform: scale(1.025);
    }

    @include md {
      img {
        transform: scale(1.05);
      }
    }
  }

  &:focus-visible .art-card__image-wrapper {
    outline: 2px solid var(--theme-color);
  }
}

.art-card__title {
  margin-bottom: 0.5rem;
}

.art-card__image-wrapper {
  margin-top: auto;
  padding: 0.75rem;
  border-radius: var(--radius);
  margin-bottom: 0.25rem;
  aspect-ratio: 1;
  overflow: hidden;
  transition: color 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--neutral-100);
  border: 1px solid currentColor;

  @include md {
    padding: 1rem;
  }

  @include lg {
    padding: 1.25rem;
  }

  img {
    will-change: transform;
    object-fit: contain;
    transition: transform 250ms;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 4px;
  }
}

.art-card__pattern {
  position: absolute;
  inset: 0;
}
