.comments {
  background-color: var(--footer-bg);

  h3 {
    padding-top: 3rem;

    @include md {
      padding-top: 4rem;
    }
  }
}

.comments__border {
  padding-top: 2.5rem;

  @include md {
    padding-top: 3.5rem;
  }

  border-bottom: 1px solid var(--border-color);
}

.comments__list {
  margin-top: 1rem;
  max-width: 40rem;
}

.comments__comment + .comments__comment {
  margin-top: 1.5rem;

  @include md {
    margin-top: 2rem;
  }
}

.comments__comment-date {
  color: var(--text-light);
}

.comments__comment-name {
  display: flex;
  align-items: center;
  gap: 0.375rem;

  img {
    flex: 1em 0 0;
    width: 1em;
    border-radius: 50%;
    outline: 1px solid rgb(0 0 0 / 0.075);
    outline-offset: -1px;
  }

  // Hide the arrow
  svg {
    display: none;
  }
}

.comments__comment-message {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;

  a {
    @include text-link;
  }
}
