@use '../base/_breakpoints.scss';
@use '../base/_mixins.scss';

.grid {
  --columns: 2;
  --columns-md: 2;
  --columns-lg: 2;
  --gap: 1.25rem;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);

  @include breakpoints.md {
    grid-template-columns: repeat(var(--columns-md), 1fr);
  }

  @include breakpoints.lg {
    grid-template-columns: repeat(var(--columns-lg), 1fr);
  }
}
