@use '../base/_breakpoints.scss';
@use '../base/_mixins.scss';

// Figure, <Image /> component

.image__figure img {
  background-color: var(--neutral-100);
  border-radius: var(--radius);
}

.image__figure--wide img,
.image__figure--full img {
  width: 100%;
  border-radius: 0;

  @include breakpoints.lg {
    border-radius: var(--radius);
  }
}

.image__figure--transparent img {
  background-color: transparent;
  border-radius: 0;
}

.image__figure--outline img {
  border: 1px solid rgb(0 0 0 / 0.075);
}

.image__figure--center {
  width: fit-content;
  margin-inline: auto;
}
