@use '../base/mixins' as *;

.notice {
  border-radius: var(--radius);
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--border-color);
  background-color: var(--neutral-100);
  font-size: 1rem;
}

.notice--warning {
}
