.related-posts {
  padding-top: 3rem;
  background-color: var(--neutral-50);

  @include md {
    padding-top: 4rem;
  }
}

.related-posts__posts {
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--neutral-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;

  @include md {
    padding-bottom: 4rem;
  }
}

.related-posts__title {
  color: var(--neutral-500);
}

.related-posts__post {
  display: block;
  color: var(--text-color);

  &:hover {
    color: var(--theme-color);
  }
}
