.share {
  margin-bottom: 3rem;

  @include md {
    margin-bottom: 4rem;
  }
}

.share__title {
  color: var(--neutral-500);
  margin-bottom: 1rem;
}

.share__icons {
  display: flex;
  gap: 0.5rem;
}

.share__icon {
  --icon-color: rgb(var(--icon-color-rgb));
  position: relative;
  flex: 0 0 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: 1px solid var(--icon-color);
  color: var(--icon-color);

  &:focus-visible {
    outline: 3px solid rgb(var(--icon-color-rgb) / 0.2);
  }

  .tooltip {
    background-color: var(--icon-color);
  }

  --tooltip-y-offset: 0.25rem;

  &:hover,
  &:focus-visible {
    background: rgb(var(--icon-color-rgb) / 0.1);
  }
}

.share__icon--twitter {
  --icon-color-rgb: 0 171 241;

  svg {
    transform: translateY(0.0625rem);
    height: 1.125rem;
  }
}

.share__icon--bluesky {
  --icon-color-rgb: 61 131 246;

  svg {
    transform: translateY(0.0625rem);
    height: 1rem;
  }
}

.share__icon--reddit {
  --icon-color-rgb: 252 69 30;

  svg {
    height: 1.25rem;
  }
}

.share__icon--hn {
  --icon-color-rgb: 251 101 30;

  svg {
    height: 0.875rem;
  }
}
