<iframe
  height="{% if height %}{{ height }}{% else %}300{% endif %}"
  {% if htmlId %}id="{{htmlId}}"{% endif %}
  scrolling="no"
  title="{{ title }}"
  src="https://codepen.io/stanko/embed/{{ id }}?default-tab=result"
  frameborder="no"
  loading="lazy"
  allowtransparency="true"
  allowfullscreen="true"
>
  See the Pen <a href="https://codepen.io/stanko/pen/{{ id }}">
  {{ title }}</a> by Stanko (<a href="https://codepen.io/stanko">@stanko</a>)
  on <a href="https://codepen.io">CodePen</a>.
</iframe>
