@font-face {
  font-family: 'MarvinVisions';
  src: url('../public/fonts/MarvinVisions-Bold.eot');
  src: url('../public/fonts/MarvinVisions-Bold.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/MarvinVisions-Bold.woff2') format('woff2'),
       url('../public/fonts/MarvinVisions-Bold.woff') format('woff');
  font-weight: bold;
}

@mixin marvin {
  font-family: MarvinVisions, Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 0.9em;
  letter-spacing: 0.05em;
}


// Merriweather

@font-face {
  font-family: 'Merriweather';
  src: url('../public/fonts/Merriweather-Regular.eot');
  src: url('../public/fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Merriweather-Regular.woff2') format('woff2'),
      url('../public/fonts/Merriweather-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Merriweather';
//   src: url('../public/fonts/Merriweather-BlackItalic.eot');
//   src: url('../public/fonts/Merriweather-BlackItalic.eot?#iefix') format('embedded-opentype'),
//       url('../public/fonts/Merriweather-BlackItalic.woff2') format('woff2'),
//       url('../public/fonts/Merriweather-BlackItalic.woff') format('woff');
//   font-weight: 900;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Merriweather';
//   src: url('../public/fonts/Merriweather-Italic.eot');
//   src: url('../public/fonts/Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
//       url('../public/fonts/Merriweather-Italic.woff2') format('woff2'),
//       url('../public/fonts/Merriweather-Italic.woff') format('woff');
//   font-weight: normal;
//   font-style: italic;
// }

@font-face {
  font-family: 'Merriweather';
  src: url('../public/fonts/Merriweather-Bold.eot');
  src: url('../public/fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Merriweather-Bold.woff2') format('woff2'),
      url('../public/fonts/Merriweather-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

// @font-face {
//   font-family: 'Merriweather';
//   src: url('../public/fonts/Merriweather-LightItalic.eot');
//   src: url('../public/fonts/Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
//       url('../public/fonts/Merriweather-LightItalic.woff2') format('woff2'),
//       url('../public/fonts/Merriweather-LightItalic.woff') format('woff');
//   font-weight: 300;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Merriweather';
//   src: url('../public/fonts/Merriweather-BoldItalic.eot');
//   src: url('../public/fonts/Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
//       url('../public/fonts/Merriweather-BoldItalic.woff2') format('woff2'),
//       url('../public/fonts/Merriweather-BoldItalic.woff') format('woff');
//   font-weight: bold;
//   font-style: italic;
// }

@font-face {
  font-family: 'Merriweather';
  src: url('../public/fonts/Merriweather-Light.eot');
  src: url('../public/fonts/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
      url('../public/fonts/Merriweather-Light.woff2') format('woff2'),
      url('../public/fonts/Merriweather-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

// @font-face {
//   font-family: 'Merriweather';
//   src: url('../public/fonts/Merriweather-Black.eot');
//   src: url('../public/fonts/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
//       url('../public/fonts/Merriweather-Black.woff2') format('woff2'),
//       url('../public/fonts/Merriweather-Black.woff') format('woff');
//   font-weight: 900;
//   font-style: normal;
// }

