// --- Color scheme  mixin

@mixin dark-scheme {
  @media (prefers-color-scheme: dark) {
    html:not(.light-scheme) & {
      @content;
    }
  }

  .dark-scheme & {
    @content;
  }
}

// --- Breakpoints

$breakpoint-sm: 400px;
$breakpoint-md: 600px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1100px;
$breakpoint-xxl: 1600px;
$breakpoint-xxxl: 2000px;

// --- Layout

$container-width: 1100rem;
$container-width-narrow: 550rem;

$gutter: 20rem;
$gutter-md: 40rem;
$gutter-lg: 90rem;

$sidenote-width: 220rem;
$sidenote-margin: 20rem;

$top-stripe-height: 3px; // In px on purpose

// --- Spacing

$spacing-sm: 10rem;
$spacing-md: 20rem;
$spacing-lg: 40rem;
$spacing-xl: 60rem;

// --- Fonts

// $headers-font-family: 'Arima Madurai', sans-serif;
$headers-font-family: "Salsa", sans-serif;
$headers-font-weight: 800;
$headers-line-height: 1.1;

// $body-font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$body-font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, Roboto,
  "Helvetica Neue", Helvetica, Inter, Arial, "Noto Sans", sans-serif;
$body-font-weight: 400;

// --- Colors

:root {
  --white: #fff;

  --neutral-50: #f8fbfe;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-400: #94a3b8;
  --neutral-500: #64748b;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1e293b;
  --neutral-900: #0f172a;

  --text-color: #1a212a;
  --text-light: var(--neutral-500);

  --bg-color: var(--white);

  --page-top-bg: var(--neutral-100);
  --page-top-border-color: var(--neutral-200);

  --code-color: var(--neutral-600);
  --code-bg: var(--neutral-50);

  --block-bg: var(--neutral-50);
  --separator-color: var(--neutral-200);

  // shadows
  --image-shadow: 1px 1px 7px rgba(0, 0, 20, 0.15);

  // footer (always dark)
  --footer-text: #94a3b8; // gray 400
  --footer-link: #f1f5f9; // gray 100
  --footer-underline: #334155; // gray 700
  --footer-separator: #1e293b; // gray 800
}

html:not(.light-scheme),
.dark-scheme {
  --text-color: #f1f5f9;
  --text-light: #94a3b8;

  --bg-color: #111;

  --neutral-900: #aaa;
  --neutral-800: #999;
  --neutral-700: #888;
  --neutral-600: #777;
  --neutral-500: #666;
  --neutral-400: #555;
  --neutral-300: #444;
  --neutral-200: #333;
  --neutral-100: #222;
  --neutral-50: #191919;

  // shadows
  --image-shadow: none;
}
// --- Themes

$blue-theme-color: #196ee6;
$blue-theme-gradient-color-1: #4341d7;
$blue-theme-gradient-color-2: #00a3ef;

$red-theme-color: #d62940;
$red-theme-gradient-color-1: #d62940;
$red-theme-gradient-color-2: #b13464;

$gray-theme-color: #304f6e;
$gray-gradient-color-1: #2e4e6e;
$gray-gradient-color-2: #7ea6c7;

$purple-theme-color: #8854d0;
$purple-gradient-color-1: #6f52d7;
$purple-gradient-color-2: #eb3b8d;

:root,
.blue {
  --true-black: #000;
  --black: #111112;
  --true-white: #fff;
  --white: #fff;

  --theme-color: #{$blue-theme-color};
  --theme-color-darken-5: #{darken($blue-theme-color, 5)};
  --theme-color-darken-10: #{darken($blue-theme-color, 10)};
  --theme-color-darken-15: #{darken($blue-theme-color, 15)};
  --theme-color-darken-20: #{darken($blue-theme-color, 20)};
  --gradient-color-1: #{$blue-theme-gradient-color-1};
  --gradient-color-2: #{$blue-theme-gradient-color-2};
}

// :root,
.red {
  --theme-color: #{$red-theme-color};
  --theme-color-darken-5: #{darken($red-theme-color, 5)};
  --theme-color-darken-10: #{darken($red-theme-color, 10)};
  --theme-color-darken-15: #{darken($red-theme-color, 15)};
  --theme-color-darken-20: #{darken($red-theme-color, 20)};
  --gradient-color-1: #{$red-theme-gradient-color-1};
  --gradient-color-2: #{$red-theme-gradient-color-2};
}

// :root,
.gray {
  --theme-color: #{$gray-theme-color};
  --theme-color-darken-5: #{darken($gray-theme-color, 5)};
  --theme-color-darken-10: #{darken($gray-theme-color, 10)};
  --theme-color-darken-15: #{darken($gray-theme-color, 15)};
  --theme-color-darken-20: #{darken($gray-theme-color, 20)};
  --gradient-color-1: #{$gray-gradient-color-1};
  --gradient-color-2: #{$gray-gradient-color-2};
}

// :root,
.purple {
  --theme-color: #{$purple-theme-color};
  --theme-color-darken-5: #{darken($purple-theme-color, 5)};
  --theme-color-darken-10: #{darken($purple-theme-color, 10)};
  --theme-color-darken-15: #{darken($purple-theme-color, 15)};
  --theme-color-darken-20: #{darken($purple-theme-color, 20)};
  --gradient-color-1: #{$purple-gradient-color-1};
  --gradient-color-2: #{$purple-gradient-color-2};
}

// --- Z-Index

$layer-default: 0;
$layer-content: 1;
$layer-sidenote: 10;
$layer-menu: 100;
$layer-modal: 1000;
$layer-jump-to-content: 1200;

// --- Transitions

$time: 250ms;
$time-long: 500ms;

// --- Border radius

$radius-xxs: 1px;
$radius-xs: 2px;
$radius-sm: 4px;

// --- Shadows
