@use '../base/_breakpoints.scss';
@use '../base/_mixins.scss';

.stats__table {
  display: grid;
  gap: 0.75rem;

  @include breakpoints.md {
    gap: 1rem;
  }
}

.stats__row {
  @include breakpoints.md {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}

.stats__row-value {
  @include breakpoints.md {
    text-align: right;
  }

  .arrow-title {
    @include breakpoints.md {
      margin-right: -0.9em;
    }
  }

  a {
    text-decoration: none;
  }
}
