<div class="Footer">
  <div class="Footer-angle Footer-angle--left"></div>
  <div class="Footer-angle Footer-angle--right"></div>

  <button class="Footer-jumpToTop" aria-label="Jump to top">
    <div class="Footer-jumpToTopInner">
      {% include svg/chevron-up.svg %}
    </div>
  </button>

  <div class="Container">
    <a class="Footer-rss" href="{{ site.baseurl }}/atom.xml" target="_blank" rel="noopener">RSS</a>
    <p class="Footer-text">
      &copy; 2016-{{ site.time | date: '%Y' }}. All rights reserved.<br/>
      Written with ♡ by Stanko Tadić. <br class="Footer-break" />Made in Serbia.
    </p>

    {% include partials/menu.html %}
  </div>
</div>
