<div class="Header">
  <div class="Header-content">
    <div class="Header-top">
      {% include partials/logo.html %}
      {% include partials/menu.html %}
    </div>

    <h2 class="Header-title Header-title--home" aria-label="{{ site.tagline }}">
      {% assign letters = site.tagline | split: '' %}
      {% for letter in letters %}<span>{{ letter }}</span>{% endfor %}
    </h2>

    <p class="Header-about">
      {{ site.description }}
    </p>

    <!-- <div class="Header-keyboardWrapper">
      <div class="Header-keyboard">
        {% include svg/keyboard.svg %}
      </div>
    </div> -->
  </div>

  <button class="Header-jumpToContent" aria-label="Jump to content">
    <div class="Header-jumpToContentInner">
      {% include svg/chevron-down.svg %}
    </div>
  </button>

  <div class="Header-angle Header-angle--left"></div>
  <div class="Header-angle Header-angle--right"></div>
</div>
