<div class="RelatedPosts">
<h2>Related Posts</h2>

{% assign RELATED_POSTS_THRESHOLD = 3 %}

{% assign related_post_count = 0 %}

{% assign post_index_1 = 0 %}
{% assign post_index_2 = 0 %}
{% assign post_index_3 = 0 %}

{% assign post_tag_count_1 = 0 %}
{% assign post_tag_count_2 = 0 %}
{% assign post_tag_count_3 = 0 %}

{% for post in site.posts %}
  {% if page.title == post.title %}
    {% continue %}
  {% endif %}

  {% assign tag_match_count = 0 %}

  {% for tag in post.tags %}
    {% if page.tags contains tag %}
      {% assign tag_match_count = tag_match_count | plus: 1 %}
    {% endif %}
  {% endfor %}

  {% assign post_index = forloop.index %}

  {% if tag_match_count > post_tag_count_1 and post_tag_count_1 <= post_tag_count_2 and post_tag_count_1 <= post_tag_count_3 %}
    {% assign post_tag_count_1 = tag_match_count %}
    {% assign post_index_1 = post_index %}
  {% elsif tag_match_count > post_tag_count_2 and post_tag_count_2 <= post_tag_count_1 and post_tag_count_2 <= post_tag_count_3 %}
    {% assign post_tag_count_2 = tag_match_count %}
    {% assign post_index_2 = post_index %}
  {% elsif tag_match_count > post_tag_count_3 and post_tag_count_3 <= post_tag_count_1 and post_tag_count_3 <= post_tag_count_2 %}
    {% assign post_tag_count_3 = tag_match_count %}
    {% assign post_index_3 = post_index %}
  {% endif %}
{% endfor %}

{% for post in site.posts %}
  {% if forloop.index == post_index_1 or forloop.index == post_index_2 or forloop.index == post_index_3 %}
    <div class="RelatedPosts-post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <span class="Small">{{ post.date | date_to_string }}</span>
        {{ post.title }}
      </a>
    </div>
    {% assign related_post_count = related_post_count | plus: 1 %}
  {% endif %}
{% endfor %}

{% assign posts_left = RELATED_POSTS_THRESHOLD | minus: related_post_count %}
{% unless posts_left == 0 %}
  {% for post in site.posts %}
    {% if posts_left == 0 %}
      {% break %}
    {% endif %}

    {% assign already_related = false %}
    {% for tag in post.tags %}
      {% if page.tags contains tag %}
        {% assign already_related = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% unless already_related %}
      {% assign posts_left = posts_left | minus: 1 %}
      <div class="RelatedPosts-post">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <span class="Small">{{ post.date | date_to_string }}</span>
          {{ post.title }}
        </a>
      </div>
    {% endunless %}
  {% endfor %}
{% endunless %}

</div>
