<script>
  var posts = [
    {% for post in site.posts %}
      {
        url: '{{ site.baseurl }}{{ post.url }}',
        title: '{{ post.title | remove: "&lt;" | remove: "&gt;" | escape }}'
      },
    {% endfor %}
  ];
</script>

<script src="/public/assets/app.js"></script>

<script async src="https://ack.muffinman.io/tracker.js" data-ackee-server="https://ack.muffinman.io" data-ackee-domain-id="5e61a315-b2ae-46b9-8ed1-818f9f45319b"></script>
<script>
  if (window.location.hostname !== 'localhost') {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65023927-2', 'auto');
    ga('send', 'pageview');
  }
</script>
