<script>
  var posts = [
    {% for post in site.posts %}
      {
        url: '{{ site.baseurl }}{{ post.url }}',
        title: '{{ post.title | remove: "&lt;" | remove: "&gt;" | escape }}'
      },
    {% endfor %}
  ];
</script>

<script src="/public/assets/app.js"></script>

<script>
  if (window.location.hostname !== 'localhost' && window.location.hostname !== '0.0.0.0') {
    (function() {
      window.counter = 'https://muffinman_io.goatcounter.com/count';

      var script = document.createElement('script');
      script.async = 1;
      script.src = '//gc.zgo.at/count.js';
      var ins = document.getElementsByTagName('script')[0];
      ins.parentNode.insertBefore(script, ins);
    })();
  }
</script>
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "d7652ac83afb40c39bae2977798ceb29"}'></script>
