<script>
  var posts = [
    {% for post in site.posts %}
      {
        url: '{{ site.baseurl }}{{ post.url }}',
        title: '{{ post.title | remove: "&lt;" | remove: "&gt;" | escape }}'
      },
    {% endfor %}
  ];
</script>

<script src="/public/assets/app.js"></script>

<script>
  if (window.location.hostname !== 'localhost') {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65023927-2', 'auto');
    ga('send', 'pageview');
  }
</script>
<script>
	(function() {
		window.counter = 'https://muffinman_io.goatcounter.com/count'

		var script = document.createElement('script');
		script.async = 1;
		script.src = '//gc.zgo.at/count.js';
		var ins = document.getElementsByTagName('script')[0];
		ins.parentNode.insertBefore(script, ins)
	})();
</script>
