
<div class="SharingButtons">
  Share on
  {% assign post_link = site.url | append: page.url %}
  {% assign post_title = page.title %}
  <div class="SharingButtons-buttons">
    <!-- Sharing button Twitter -->
    <a
      class="SharingButton SharingButton--twitter"
      title="Share post on Twitter"
      href="https://twitter.com/intent/tweet/?text={{ post_title }}&amp;url={{ post_link }}"
      target="_blank"
      rel="nofollow"
    >
      {% include svg/twitter.svg %}
    </a>
    <!-- Sharing button HN -->
    <a
      class="SharingButton SharingButton--hn"
      title="Share post on Hacker News"
      href="http://news.ycombinator.com/submitlink?u={{ post_link }}&t={{ post_title }}"
      target="_blank"
      rel="nofollow"
    >
      {% include svg/hn.svg %}
    </a>
    <!-- Sharing button Reddit+ -->
    <a
      class="SharingButton SharingButton--reddit"
      title="Share post on reddit"
      href="http://www.reddit.com/submit?url={{ post_link }}&title={{ post_title }}"
      target="_blank"
      rel="nofollow"
    >
      {% include svg/reddit.svg %}
    </a>
    <!-- Sharing button Facebook -->
    <a
      class="SharingButton SharingButton--facebook"
      title="Share post on Facebook"
      href="https://facebook.com/sharer/sharer.php?u={{ post_link }}"
      target="_blank"
      rel="nofollow"
    >
      {% include svg/facebook.svg %}
    </a>
  </div>
</div>
