.about__myself {
  width: 200rem;
  shape-outside: polygon(
    41% 6%,
    46% 0%,
    100% 0%,
    100% 100%,
    4% 100%,
    4% 96%,
    11% 95%,
    15% 85%,
    23% 79%,
    25% 64%,
    18% 59%,
    21% 48%,
    14% 36%,
    22% 25%,
    32% 18%,
    41% 15%
  );
  float: right;

  @include md {
    width: 300rem;
    margin-right: -30rem;
  }

  @include lg {
    width: 350rem;
    margin-right: -100rem;
  }
}
