.art-single__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.art-single__back {
  @include text-sm;
  @include link-underline;
  display: inline-block;

  span {
    color: var(--text-light);
  }
}

.art-single__back--top {
  margin-bottom: 10rem;
  order: -1;
}

.art-single__back--bottom {
  margin-top: 40rem;
}

.art-single__content {
  padding-bottom: 80rem;

  @include md {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100rem;
  }
}

.art-single__images {
  width: 100%;
}

.art-single__images--tall {
  @include lg {
    display: flex;
    align-items: flex-start;
  }
}

.art-single__main-image {
  @include transparent-outline;
  display: block;
  background-color: var(--neutral-100);
  margin-bottom: 20rem;
  border-radius: $radius-xs;
  overflow: hidden;
  position: relative;
  cursor: zoom-in;
  width: 100%;

  @include lg {
    .art-single__images--tall & {
      flex-grow: 1;
      margin: 0;
    }
  }
}

.art-single__main-image-ratio {
  height: 0;
  position: relative;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.art-single__info {
  @include text-sm;
  margin-bottom: 20rem;

  td {
    vertical-align: top;
  }

  td:first-child {
    font-weight: bold;
    padding-right: 20rem;
  }

  @include md {
    margin-bottom: 40rem;
  }
}

.art-single__video-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.art-single__video {
  background: var(--neutral-500);
  pointer-events: all;
}
