.project-list {
  margin-block: $spacing-md $spacing-xl;
  margin-inline: -$spacing-md;

  @include md {
    margin-inline: -$spacing-lg;
  }

  @include lg {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.project-list__title {
  position: relative;
  padding-top: 1.5em;

  // Negates the padding, but keeps it for the anchor link.
  // Not the cleanest, but I can't be bothered by this atm.
  &:first-child {
    margin-top: -1.5em;
  }
}

.project-list__project {
  align-items: flex-start;
  border-radius: $radius-sm;
  color: var(--text-color);
  display: flex;
  gap: 20rem;
  padding: $spacing-md;

  @include md {
    padding: $spacing-md $spacing-lg;
  }

  @include lg {
    flex: 50% 0 0;
    padding: $spacing-lg;
  }

  &:focus {
    background-color: var(--neutral-50);
  }

  &:hover {
    background-color: var(--neutral-50);
  }

  p {
    @include text-sm;
  }
}

.project-list__project-title {
  @include header;
  transition: color $time;
  margin-bottom: 6rem;
  text-wrap: balance; // to make sure the arrow doesn't fall on a new line
  text-wrap: pretty;

  span {
    @include text-gradient;
  }
}

.project-list__project-image-wrapper {
  flex: 80rem 0 0;
  height: 80rem;
  align-items: flex-start;
  display: flex;
  justify-content: center;

  @include md {
    flex: 100rem 0 0;
    height: 100rem;
  }
}

.project-list__project-image-wrapper svg {
  width: 100%;
  height: 100%;
}

.project-list__project-image {
  max-height: 100%;
  border-radius: $radius-xs;
}

.project-list__project-initial {
  border-radius: 200rem;
  background-color: var(--neutral-200);
  height: 50rem;
  flex: 50rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 600;

  @include md {
    flex: 60rem 0 0;
    height: 60rem;
  }
}
