{% extends "base.html" %}

{% block content %}

<div class="page__top">
  <div class="container art-single__top">
    <h1 class="page__title">
      {{ page.title | safe }}
    </h1>

    <a href="/art/" class="art-single__back art-single__back--top">
      <span>Back to</span> Art
    </a>

    {% if page.extra.intro %}
      <div class="page__intro">{{ page.extra.intro }}</div>
    {% endif %}
  </div>
</div>

<div class="container">
  {% if page.content %}
    <div class="content">
      {{ page.content | safe }}
    </div>
  {% endif %}

  <div class="art-single__content">
    <table class="art-single__info">
      <tr>
        <td>Created:</td>
        <td>{{ page.date | date(format="%B %Y") }}</td>
      </tr>
      <tr>
        <td>Size:</td>
        <td>{{ page.extra.size }}</td>
      </tr>
      {# <tr>
        <td>Iterations:</td>
        <td>{{ page.extra.iterations }}</td>
      </tr> #}
      <tr>
        <td>Paper:</td>
        <td>{{ page.extra.paper }}</td>
      </tr>
      {% if page.extra.pens %}
      <tr>
        <td>Pens:</td>
        <td>{{ page.extra.pens }}</td>
      </tr>
      {% endif %}
      {% if page.extra.print %}
      <tr>
        <td>Medium:</td>
        <td>Print</td>
      </tr>
      {% endif %}
    </table>

    <div class="art-single__images photoswipe-gallery {% if page.extra.wide %}art-single__images--wide{% else %}art-single__images--tall{% endif %}">
      {% set show_cover=true %}
      {% include "partials/gallery.html" %}
    </div>

    <a href="/art/" class="art-single__back art-single__back--bottom">
      <span>Back to</span> Art
    </a>
  </div>
</div>

{% include "partials/related-items.html" %}

{% endblock content %}
