{% extends "base.html" %}

{% block content %}

<div class="page__top">
  <div class="container">
    <h1 class="page__title">
      {{ section.title | safe }}
    </h1>
    <p class="page__intro">
      {{ section.extra.intro | safe }}
    </p>
  </div>
</div>

<div class="container">
  <div class="content">
    {{ section.content | safe }}
  </div>
</div>

<div class="art__list">
{% for item in paginator.pages %}
  <a href="{{ item.permalink }}" class="art__single {% if post.extra.theme %}{{ post.extra.theme }}{% endif %}">
    <div class="art__single-title h5">
      {{ item.title | safe }}{% include "partials/svg-post-arrow.html" %}
    </div>

    <div class="art__single-date">
      {{ item.date | date(format="%B %Y") }}
    </div>

    {%- set image = resize_image(path=item.extra.image, width=500, height=500, op="fit", quality=90) %}
    {%- set image_tiny = resize_image(path=item.extra.image, width=40, height=40, op="fit", quality=100) %}
    <div class="art__single-image-wrapper" aria-hidden="true">
      {% if loop.index0 < 12 %}
        <img src="{{ image.url }}" alt="" class="art__single-image" />
      {% else %}
        <img src="{{ image_tiny.url }}" alt="" class="art__single-image" />
        <img src="{{ image.url }}" alt="" class="art__single-image" loading="lazy" />
      {% endif %}
    </div>
  </a>
{% endfor %}
</div>

{% endblock content %}
