{% extends "base.html" %}

{% block content %}

<div class="page__top">
  <div class="container">
    <h1 class="page__title">
      {{ page.title | safe }}
    </h1>
    <p class="page__intro">
      {{ page.extra.intro | safe }}
    </p>
  </div>
</div>
{% include "partials/svg-wave.html" %}

<div class="page__bottom container">
  {% set title = "Creative coding" %}
  {% set projects = page.extra.creative %}
  {% include "partials/project-list.html" %}

  {% set title = "Hardware" %}
  {% set projects = page.extra.hardware %}
  {% include "partials/project-list.html" %}

  {% set title = "Libraries and tools" %}
  {% set projects = page.extra.libs %}
  {% include "partials/project-list.html" %}

  {% set title = "Everything else" %}
  {% set projects = page.extra.projects %}
  {% include "partials/project-list.html" %}
</div>

{% endblock content %}
