.Header {
  @include angled-edge('inside bottom', 'upper left', $white, $width: 3000, $height: 300);
  background: $grey;
  padding: 2rem 0 16rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
  width: 100%;

  @include sm {
    padding: 4rem 0 18rem;
  }

  @include md {
    padding: 6rem 0 20rem;
  }

  &::after {
    pointer-events: none;
  }
}

.Header--page {
  padding: 0rem 0 11rem;

  @include sm {
    padding: 2rem 0 11rem;
  }

  @include md {
    padding: 3rem 0 11rem;
  }
}

.Header--page {
  .RotationWrapper {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .Rotation {
    @include sm {
      left: -15rem;
    }
  }

  .Header--page .Rotation {
    height: 20rem;
  }

  .Header-title {
    align-items: center;
    display: flex;
    padding: 6rem 0 9rem;
    z-index: 10;

    @include sm {
      padding: 8rem 0 11rem 3rem;
    }

    @include md {
      padding-left: 0;
    }

    h1 {
      margin: 0 0 0.5rem;
    }
  }
}

.Header-titleContent {
  max-width: 50rem;

  @include lg {
    max-width: 60rem;
  }
}

.Header-line {
  background: linear-gradient(90deg, $red, $purple);
  height: 1rem;
}

// @keyframes rotate {
//   0% {
//     transform: translate3d(0,0,0) rotateZ(0);
//   } 100% {
//     transform: translate3d(0,0,0) rotateZ(360deg);
//   }
// }

.Header-menuButton {
  background: none;
  border: 0;
  height: 6rem;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 6rem;
  z-index: 100;

  span {
    background: darken($purple, 10);
    border-radius: 0.2rem;
    display: block;
    height: 0.2rem;
    margin: 0.8rem auto;
    transition: background $transition-time;
    width: 3.2rem;
  }

  &:hover span {
    background: $dark;
  }
}


.LatestPost {
  max-width: 50rem;
  padding: 0 $grid-gutter;
  position: relative;

  span {
    font-size: 0.8em;
  }

  h1 {
    margin: 1rem 0 0;

    a {
      color: $black;
    }
  }

  svg {
    @include xl {
      height: 24px;
      width: 34px;
    }
  }
}

.Header-date {
  color: $greyA;
  font-size: 0.8em;
}

.RotationWrapper {
  pointer-events: none;
}

.Rotation {
  height: $rotation-height;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @include md {
    left: -13rem;
  }

  @include lg {
    left: -17.5rem;
  }
}

.Rotation-item {
  position: absolute;
  top: ($rotation-width-xs - $rotation-height) / -2;
  left: calc(#{ $rotation-width-xs / -2 } + 50%);
  width: $rotation-width-xs;
  height: $rotation-width-xs;

  @include sm {
    top: ($rotation-width-sm - $rotation-height) / -2;
    left: calc(#{ $rotation-width-sm / -2 } + 50%);
    width: $rotation-width-sm;
    height: $rotation-width-sm;
  }

  @include md {
    top: ($rotation-width-md - $rotation-height) / -2;
    left: calc(#{ $rotation-width-md / -2 } + 50%);
    width: $rotation-width-md;
    height: $rotation-width-md;
  }

  img {
    width: 100%;
  }
}

// .Rotation-item--one {
//   animation: rotate 200s infinite linear;
//
//   @include sm {
//     animation-duration: 400s;
//   }
//
//   @include md {
//     animation-duration: 600s;
//   }
// }
//
// .Rotation-item--two {
//   animation: rotate 250s infinite linear;
// }
//
// .Rotation-item--three {
//   animation: rotate 350s infinite linear;
// }

.AboutBlog {
  position: relative;
  z-index: 10;
  margin: -12rem auto 5rem;
  display: flex;
  align-items: flex-end;

  @include xl {
    margin-top: -6rem;
  }
}

.AboutBlog-homeLink {
  @include marvin;
  margin-right: auto;
  font-size: 1.6rem;
  color: $greyC;

  &:hover {
    color: $grey7;
  }

  @include sm {
    font-size: 1.8rem;
  }

  @include lg {
    font-size: 1.8rem;
  }
}

.AboutBlog-content {
  text-align: right;
}

.AboutBlog-logo {
  position: absolute;
  bottom: 100%;
  right: $grid-gutter;
  max-width: 10rem;

  @include sm {
    max-width: 12rem;
  }

  @include md {
    max-width: 20rem;
  }

  @include lg {
    max-width: 30rem;
  }
}

.AboutBlog-logo--small {
  width: 6rem;
  padding-bottom: 2rem;

  @include sm {
    width: 8rem;
  }

  @include md {
    width: 10rem;
  }
}

.AboutBlog-title {
  margin: 0;
  font-size: 4rem;

  @include sm {
    font-size: 4.5rem;
  }

  @include lg {
    font-size: 4.8rem;
  }
}

.AboutBlog-small {
  font-size: 0.5em;
}

.AboutBlog-subtitle {
  @include marvin;
  color: $greyC;
  font-size: 2rem;
  margin: 0;

  .c2 {
    color: #db4d5c;
  }

  @include sm {
    font-size: 2.2rem;
  }

  @include lg {
    font-size: 2.4rem;
  }
}

.AboutBlog--small {
  .AboutBlog-title {
    font-size: 2.5rem;

    @include sm {
      font-size: 2.8rem;
    }

    @include lg {
      font-size: 3.2rem;
    }
  }

  .AboutBlog-subtitle {
    font-size: 1.8rem;

    @include sm {
      font-size: 2rem;
    }

    @include lg {
      font-size: 2.2rem;
    }
  }
}
