@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Html--menuActive {
  &,
  body {
    height: 100%;
    overflow: hidden;
  }

  .Menu {
    transform: none;
  }
}

.Menu-toggle {
  cursor: pointer;
}

.Menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-10;
  color: $white;
  background: $dark;
  transition: transform $transition-time-long;
  display: none;
  transform: translateY(-120%);

  @include md {
    padding-top: 1rem;
  }

  @include lg {
    padding-top: 2rem;
  }
}

.Menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem 0 $grid-gutter;

  @include md {
    padding: 1rem 0 0 $grid-gutter;
  }
}

.Menu-close {
  border: 0;
  background: none;
  position: absolute;
  top: 1rem;
  right: 0;
  padding: 0;
  width: 6rem;
  height: 6rem;
  z-index: 1001;

  span {
    width: 0.2rem;
    height: 3.2rem;
    background: $grey7;
    display: block;
    transition: background $transition-time;
    margin: 0 auto;
    position: absolute;
    top: 1.4rem;
    left: 2.9rem;
  }

  span:first-child {
    transform: rotate(45deg);
  }

  span:last-child {
    transform: rotate(-45deg);
  }

  &:hover span {
    background: $white;
  }
}

.Menu-bottom {
  height: calc(100% - 7.5rem);

  @include md {
    height: calc(100% - 8rem);
  }
}

.Menu-content {
  position: relative;
  z-index: $z-index-10;
  padding: 0;
  overflow: hidden;
  margin: 0 auto;
  height: 100%;

  @include md {
    max-width: $container-width-md;
    border-radius: 0.3rem;
  }

  @include lg {
    max-width: $container-width-lg;
  }
}

.Menu-inputWrapper {
  flex-grow: 1;
}

.Menu-input {
  @include placeholder($grey7);
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 0.1rem solid $grey4;
  border-radius: 0;
  color: $white;
  font-size: 2.5rem;
  height: 6.5rem;
  margin: 0;
  padding: 0;
  transition: border $transition-time;

  &:focus {
    border-bottom: 0.1rem solid $grey7;
  }

  @include md {
    font-size: 3rem;
    height: 7rem;
  }
}

.Menu-results {
  a {
    display: block;
    color: $grey9;
    padding: 1.2rem $grid-gutter;
    transition: opacity $transition-time;
  }

  &:hover {
    a {
      opacity: 0.5;
    }

    a:hover {
      opacity: 1;
    }
  }

  strong {
    font-weight: 600;
    transition: color $transition-time;
    color: $white;
  }
}

.Menu-noResults {
  padding: 1rem $grid-gutter;
  color: $white;
}

.Menu-menuWrapper {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow-y: auto;
  padding-right: 10%;
  width: 110%;

  @include md {
    display: flex;
  }
}

.Menu-menu {
  padding: 0 $grid-gutter;
  margin: 2rem 0;

  @include md {
    width: 50%;
  }
}

.Menu-menu--links {
  @include md {
    order: 2;
  }
}

.Menu-menuLink {
  color: $grey7;
}

.Menu-menu--categories {

}

.Menu-menuCategory {
  color: $white;
  font-weight: 800;
}

.Menu-menuLink,
.Menu-menuCategory {
  display: block;
  font-size: 3.5rem;
  line-height: 1.1em;
  transition: color $transition-time;

  @include md {
    font-size: 4rem;

    &:last-child {
      margin-bottom: 2rem;
    }
  }

  @include lg {
    font-size: 5rem;
  }

  .Menu-menuWrapper:hover & {
    color: $grey7;

    &:hover {
      color: $white;
    }
  }
}
