---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">

  {% include partials/head.html %}

  <body class="Body--post">
    {% include partials/page-header.html %}

    <div class="Content">
      {% include partials/keyboard.html %}

      <div class="Post Container">
        <div class="Post-top">
          <div class="Post-readTime">{% include partials/reading-time.html %}</div>

          <a href="#comments" class="Post-commentsLink">
            {% assign comments = site.data.comments[page.slug] %}
            {% if comments != null %}
              {{ comments.size }} {% if comments != 1 %}Comments{% else %}Comment{% endif %}
            {% else %}
              No comments
            {% endif %}
          </a>
        </div>

        {{ content }}

        <div class="Post-shareAndCategories">
          {% include partials/sharing-buttons.html %}

          <div class="Post-categories">
            <div>Category</div>
            {% for category in page.categories %}
              <a href="/archive/#/{{ category | slugify }}">{{ category }}</a>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="PostBottom">
        <div class="PostBottom-angle PostBottom-angle--left"></div>
        <div class="PostBottom-angle PostBottom-angle--right"></div>

        {% if site.related_posts.size > 0 %}
        <div class="Container">
          <div class="ContainerInner">
            {% include partials/related-posts.html %}
          </div>
        </div>
        {% endif %}

        {% include partials/comments.html %}
      </div>
    </div>

    {% include partials/footer.html %}

    {% include partials/menu-modal.html %}
    {% include partials/scripts.html %}
  </body>
</html>
