---
layout: default
---

<div class="Post Container">
  <div class="Post-categories">
    {% for category in page.categories %}
      <a href="/category/{{ category }}">{{ category }}</a>
    {% endfor %}
  </div>

  <p>This article will take {{ page.content | reading_time }} to read.</p>

  <h1 class="Post-title">{{ page.title }}</h1>
  <span class="Post-date">{{ page.date | date_to_string }}</span>
  {{ content }}

  <div class="SharringButtons">
    <div>
      Share on
    </div>
    <!-- Sharing button Facebook -->
    <a
      class="SharringButtons SharringButtons--facebook"
      href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
      {% include icon-facebook.html %}
    </a>
    <!-- Sharing button Twitter -->
    <a
      class="SharringButtons SharringButtons--twitter"
      href="https://twitter.com/intent/tweet/?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}" target="_blank">
      {% include icon-twitter.html %}
    </a>
    <!-- Sharing button Google+ -->
    <a
      class="SharringButtons SharringButtons--googlePlus"
      href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank">
      {% include icon-google-plus.html %}
    </a>
  </div>
</div>

{% if site.related_posts.size > 0 %}
<div class="Container">
  <h2>Related Posts</h2>
  <div class="RelatedPosts">
    {% for post in site.related_posts limit:3 %}
      <div class="RelatedPosts-post">
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% include comments.html %}
